doctype html
<html lang="en">

head
    meta(charset="UTF-8")
    meta(http-equiv="X-UA-Compatible" content="IE=edge")
    meta(name="viewport" content="width=device-width, initial-scale=1.0")
    //- meta(http-equiv='Content-Security-Policy', content="img-src 'self' data: blob:http://127.0.0.1:3000;")
    //- meta(http-equiv='Content-Security-Policy', content="img-src 'self' https://res.cloudinary.com/")

    link(rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css" integrity="sha512-iecdLmaskl7CVkqkXNQ/ZH/XLlvWZOJyj7Yy7tcenmpD1ypASozpmT/E0iPtmFIB46ZmdtAc9eNBvH0H/ZpiBw==" crossorigin="anonymous" referrerpolicy="no-referrer")
    link(rel="icon" href="../asset/img/favicon.png" type="image/png")


    //- STYLES 
    link(rel="stylesheet" href="src/css/general.css")
    link(rel="stylesheet" href="src/css/dashboard.css")
    link(rel="stylesheet" href="src/css/query_dashboard.css")

    //- script(src="/socket.io/socket.io.js")
    //- script(defer src="src/js/chat.js")

    script(defer src="src/js/dashboard.js")
    script(defer src="src/js/updateSettings.js")

    title=title
body
    #spinOverlay
        .spin
            div
            div
            div
            div
            div
            div
            div
            div
            div
            div
    //- section.section__dashboard(data-user=user)
    section.section__dashboard
        .section__top
            .nav__logo
                i.fa-solid.fa-close.icon.nav__icon.menubar-control.menu-closed
                i.fa-solid.fa-bars.icon.nav__icon.menubar-control.menu-opened.hidden
                a(href='/dashboard')
                    img.logo(src='asset/img/logo-removebg.png' alt='clubmerce logo')
                a(href='/dashboard')
                    img.logo-small(src='asset/img/favicon.png' alt='clubmerce logo')
            nav.navbar
            
                - if(section === 'marketplace')
                    form.nav__search
                        input.nav__input(type='search' placeholder='search...')
                        button.search__button(type='submit')
                            i.fa-solid.fa-magnifying-glass.icon.nav__icon

                span.nav__icons
                    span.notification__icon
                        i.fa-regular.fa-bell.icon.nav__icon
                        //- notification...
                        .notification__hovered.hidden 
                            h3.dashboard__heading Notification
                            //- .notification__content you have no notification
                            .notification
                                .notify__details
                                    .notify__status &nbsp;
                                    span
                                        h4.notify__head Lorem ipsum dolor sit amet.
                                        span.notify__body-box
                                            p.notify__body Lorem, ipsum.
                                            span &dash;
                                            p.notify__date 10 mins ago
                                .notify__image--box
                                    img.notify__image(src='asset/img/idowu.png' alt='')
                                //- .notify__icon--box
                                    i.fa-solid.fa-lock.icon.notify__icon



                    -if(user.role === 'admin')
                        span
                            //- img.nav__image(src='asset/img/idowu.png')
                            .nav__image--box
                                img.nav__image(src='asset/img/idowu.png' alt=`user's photo`)

                    -else
                        span
                            //- img.nav__image(src='asset/img/idowu.png')
                            .nav__image--box
                                img.nav__image(src='asset/img/idowu.png' alt=`user's photo`)
                            //- profile...
                            .Profile__hovered.hidden
                                .profile__content
                                    .profile__owner
                                        .profile__image--box
                                            img.profile__image(src='asset/img/idowu.png' alt=`user's photo`)
                                        p.profile__name= user.fullName
                                    a.profile__link.nav__link(href="/profile") My profile
                                    button.profile__button.nav__link.nav__logout signout&nbsp;
                                        i.fa-solid.fa-arrow-right-to-bracket.profile__icon


            

        mixin menuItem(link, text, icon, active)                    
            li(class=`${active ? 'menu__item menu__active' : 'menu__item'}`)
                a.menu__link(href=`/${link}`)
                    i.icon.menu__icon(class=`${icon}`)
                    p #{text}

        .section__bottom
            menu.menubar
                .menu__body
                    ul.menu__list
                        -if(user.role === 'buyer')
                            +menuItem('dashboard', 'My Dashboard', 'fa-solid fa-shop', false)

                        -if(user.role === 'affiliate')
                            +menuItem('dashboard', 'Dashboard', 'fa-solid fa-gauge', false)
                            +menuItem('marketplace', 'Affiliate Marketplace', 'fa-solid fa-shop', false)
                            +menuItem('leaderboard', 'Affiliate Leaderboard', 'fa-solid fa-trophy', false)
                            +menuItem('performance', 'My Performance', 'fa-solid fa-chart-simple', false)
                            +menuItem('transaction', 'Transactions', 'fa-solid fa-chart-line', false)
                            +menuItem('settings', 'settings', 'fa-solid fa-gear', false)

                        -if(user.role === 'vendor')
                            +menuItem('dashboard', 'Dashboard', 'fa-solid fa-gauge', false)
                            +menuItem('product-catalog', 'Product Catalog', 'fa-solid fa-clipboard-list', false)
                            +menuItem('performance', 'Product Performance', 'fa-solid fa-chart-simple', false)
                            +menuItem('transaction', 'Transactions', 'fa-solid fa-chart-line', false)
                            +menuItem('settings', 'settings', 'fa-solid fa-gear', false)

                        -if(user.role === 'admin')
                            +menuItem('dashboard', 'All perfomance', 'fa-solid fa-chart-simple', false)
                            //- +menuItem('product-marketplace', 'Product Marketplace', 'fa-solid fa-clipboard-list', false)
                            +menuItem('settings', 'settings', 'fa-solid fa-gear', false)


                -if(user.role === 'admin')
                    .menu__bottom 
                        ul.menu__list 
                            li.menu__item 
                                a.menu__link(href="/manage-users") 
                                    i.fa-solid.fa-users.icon.menu__icon
                                    p Manage Users
                            li.menu__item
                                a.menu__link(href="/manage-products") 
                                    i.fa-solid.fa-shopping-bag.icon.menu__icon
                                    p Manage Products
                            li.menu__item
                                a.menu__link(href="/manage-order")
                                    i.fa-solid.fa-shopping-cart
                                    //- i.fa-solid.fa-credit-card.icon.menu__icon
                                    p Manage Orders
                            li.menu__item
                                a.menu__link(href="/manage-payment")
                                    //- i.fa-solid.fa-shopping-cart
                                    i.fa-solid.fa-credit-card.icon.menu__icon
                                    p Manage Payments
                            li.menu__item
                                a.menu__link.admin__menu--logout
                                    i.fa-solid.fa-arrow-right-to-bracket.icon.menu__icon
                                    | signout&nbsp;
               
                -else 
                    .menu__bottom
                        ul.menu__list
                            li.menu__item
                                a.menu__link(href="/profile")
                                    img.menu__profile-image(src='asset/img/avatar.png' alt=`user's photo`)
                                    p profile
                            li.menu__item
                                button.menu__button.menu__logout
                                    | signout&nbsp;
                                    i.fa-solid.fa-arrow-right-to-bracket
            main.main__dashboard
                .dashboard__content
                    block content
                        -if(user.role === 'affiliate')
                            .main__dashboard--container
                                h3.dashboard__heading=`Welcome back, ${user.fullName.split(' ')[0]}`
                                .dashboard__insights 
                                    .insight.insight__one
                                        .icon__box 
                                            i.fa-solid.fa-coins.insight__icon
                                        span 
                                            p.insight__title Total enarned
                                            p.insight__text=`₦${user.wallet}`
                                            //- p.insight__text ₦400,948

                                    .insight.insight__two
                                        .icon__box 
                                            i.fa-solid.fa-comments-dollar.insight__icon
                                        span 
                                            p.insight__title Product Sold
                                            p.insight__text= user.productSold
                                            //- p.insight__text 50

                                    .insight.insight__three
                                        .icon__box 
                                            i.fa-solid.fa-up-right-from-square.insight__icon
                                        span
                                            p.insight__title Link clicks
                                            p.insight__text= user.clicks

                                    .insight.insight__four
                                        .icon__box 
                                            i.fa-solid.fa-bullhorn.insight__icon
                                        span
                                            //- p.insight__text= user.affiliateUrl.length
                                            p.insight__title Promotion url
                                            //- p.insight__text= user.affiliateLinks.length - 1
                                            p.insight__text= user.affiliateLinks[0] === 0 ? 0 : user.affiliateLinks.length 

                                .dashboard__table
                                    .table
                                        .table-title
                                            h4.table-heading Recent commission
                                            i.fa-silid.fa-vertical-dots.table__icon
                                        .table-head
                                            span.table-head-content Product
                                            span.table-head-content Commission amount
                                            span.table-head-content Status
                                            span.table-head-content date

                                        //- .table-row
                                        //-     span.table-row-content.table-row-product
                                        //-         img.table-product__image(src='asset/tests/two.jpg' alt='')
                                        //-         span
                                        //-             p.table-product__name Apilean Weight Loss
                                        //-             p.table-product__niche health &amp; fitness
                                        //-     span.table-row-content
                                        //-         p.order ₦290,000
                                        //-     span.table-row-content
                                        //-         .status.status--success success
                                        //-     span.table-row-content
                                        //-         .date 10/3/2023


                                        -if(commission > 0)
                                            .table-row
                                                span.table-row-content.table-row-product
                                                    img.table-product__image(src=`asset/img/product.jpg` alt='')
                                                    span
                                                        p.table-product__name= commission.product
                                                        p.table-product__niche= commission.product.category
                                                span.table-row-content
                                                    p.price= `₦${commission.amount}`
                                                span.table-row-content
                                                    p.status.status--pending= commission.status
                                                span.table-row-content
                                                    p.date= commission.createdAt
                                        - else
                                            .table-row-message
                                                p.note-no You've have not made any sale commission...

                            

                        -if(user.role === "vendor")
                            .main__dashboard--container
                                h3.dashboard__heading=`Welcome back, ${!user.business ? user.fullName.split(' ')[0] : user.businessName}`
                                .dashboard__insights 
                                    .insight.insight__one
                                        .icon__box 
                                            i.fa-solid.fa-comments-dollar.insight__icon
                                        span 
                                            p.insight__title My profit
                                            p.insight__text=`₦ ${products.reduce((acc, product) => acc + product.profits, 0)}`

                                    .insight.insight__two
                                        .icon__box 
                                            i.fa-solid.fa-list-check.insight__icon
                                        span 
                                            p.insight__title My Products
                                            p.insight__text= products.length
                                            //- p.insight__text= user.product
                                            //- i.fa-solid.fa-bag.insight__icon

                                    .insight.insight__three
                                        .icon__box 
                                            i.fa-solid.fa-shopping-cart.insight__icon
                                        span
                                            p.insight__title Orders
                                            p.insight__text= products.reduce((acc, product) => acc + product.ordersCount, 0)

                                    .insight.insight__four
                                        .icon__box 
                                            i.fa-solid.fa-bullhorn.insight__icon
                                        span
                                            p.insight__title Affiliate Gravity
                                            p.insight__text= products.reduce((acc, product) => acc + product.productGravity, 0)
                                            //- p.insight__text= product.productGravity
                                        

                                .dashboard__table
                                    .table.table-po
                                        .table-title
                                            h4.table-heading Product orders
                                        .table-head-po
                                            span.table-head-content Product
                                            span.table-head-content orders
                                            span.table-head-content Total price
                                            span.table-head-content location
                                            span.table-head-content status

                                        -if(orders < 1)
                                            .table-row-message
                                                p.note-no You've no order at the moment...

                                        -else
                                            each order of orders
                                                .table-row-po
                                                    span.table-row-content.table-row-product
                                                    img.table-product__image(src='asset/img/product.jpg' alt='')
                                                    span
                                                        p.table-product__name= order.product.name
                                                        p.table-product__niche= order.product.category
                                                    span.table-row-content
                                                    p.order= order.quantity
                                                    span.table-row-content
                                                    p.price= `₦${order.amount}`
                                                    span.table-row-content
                                                    p.brand= order.vendor.businessName
                                                    span.table-row-content
                                                    p.status.status--success= order.orderStatus
                                        

                   

                        -if(user.role == "admin")
                            .main__dashboard--container
                                h3.dashboard__heading=`Welcome to Admin Dashboard`
                                .dashboard__insights 
                                    .insight.insight__one
                                        .icon__box 
                                            i.fa-solid.fa-users.insight__icon
                                        span 
                                            p.insight__text= allUsers.length
                                            p.insight__title Total Users

                                    .insight.insight__two
                                        .icon__box 
                                            i.fa-solid.fa-shopping-bag.insight__icon
                                        span 
                                            p.insight__text= allProducts.length
                                            p.insight__title Total Products

                                    .insight.insight__three
                                        .icon__box 
                                            i.fa-solid.fa-shopping-cart.insight__icon
                                        span 
                                            p.insight__text= allOrders.length
                                            p.insight__title Total Orders

                                    .insight.insight__four
                                        .icon__box 
                                            i.fa-solid.fa-gift.insight__icon
                                        span
                                            p.insight__text= totalPurchases
                                            p.insight__title Total Purchases

                                    .insight.insight__four
                                        .icon__box 
                                            i.fa-solid.fa-up-right-from-square.insight__icon
                                        span
                                            p.insight__text= totalClicks
                                            p.insight__title Total Clicks

                                    .insight.insight__three
                                        .icon__box 
                                            i.fa-solid.fa-money-bill-transfer.insight__icon
                                        span
                                            - const conversionRate = (totalPurchases / totalClicks) * 100;
                                            p.insight__text= conversionRate.toFixed(2) + '%'
                                            p.insight__title conversion Rate

                                    .insight.insight__two
                                        .icon__box 
                                            i.fa-solid.fa-percent.insight__icon
                                        span
                                            - const ctr = (totalClicks / allUsers.length) * 100;
                                            p.insight__text= ctr.toFixed(2) + '%'
                                            p.insight__title CTR
                           


                                .dashboard__table
                                    .table.table-po
                                        .table-title
                                            h4.table-heading Product orders
                                        .table-head-po
                                            span.table-head-content Product
                                            span.table-head-content quantity
                                            span.table-head-content Total price
                                            span.table-head-content location
                                            span.table-head-content status
                                        
                                        -if(allOrders < 1) 
                                            .table-row-message
                                                p.note-no No order at the moment...

                                        -else
                                            each order of allOrders
                                                .table-row-po
                                                    span.table-row-content.table-row-product
                                                        img.table-product__image(src='asset/img/product.jpg' alt='')
                                                        span
                                                            p.table-product__name= order.product.name
                                                            p.table-product__niche= order.product.category
                                                    span.table-row-content
                                                        p.order= order.quantity
                                                    span.table-row-content
                                                        p.price= order.commissionedAmount
                                                    span.table-row-content
                                                        p.brand= order.vendor.businessName
                                                    span.table-row-content
                                                        p(class=`.status .status--${order.orderStatus}`)= order.orderStatus
                                    



                //- .chat__box.hidden
                    .chat-top
                        p.chat-name Idowu Olatunji
                        .chat-top__icons
                            i.fa-solid.fa-gear.chat-icon
                            i.fa-solid.fa-close.chat-icon
                    .chat-mid
                        //- .chat-mid__from.main
                            .img-box
                                img.chat-img.from-img(src='asset/img/face.png' alt='')
                            .chat
                                p.chat-from__point
                                    span ~&nbsp;
                                    | Idowu Olatunji
                                p.chat-date 8:30
                                p.chat-from__message Lorem ipsum dolor sit amet consectetur adipisicing elit. Repellendus, illo?
                        //- .chat-mid__me.main
                            .img-box
                                img.chat-img.from-img(src='asset/img/avatar.png' alt='')
                            .chat
                                p.chat-me__point
                                    span ~&nbsp;
                                    | Me
                                p.chat-date 17:10
                                p.chat-me__message Lorem ipsum dolor sit amet consectetur adipisicing elit. Repellendus, illo?
                    .chat-end
                        .chat-end__chat
                            form.chat__form
                                input.chat-end__input(type='text' placeholder='Type your message')
                                button.chat__button(type='submit')
                                    i.fa-solid.fa-arrow-right.chat-icon
                        .chat-end__controls
                            i.fa-solid.fa-paperclip.chat-icon
                            i.fa-regular.fa-face-smile.chat-icon
 
                                        

                include _auth_footer