doctype html
<html lang="en">

head
    meta(charset="UTF-8")
    meta(http-equiv="X-UA-Compatible" content="IE=edge")
    meta(name="viewport" content="width=device-width, initial-scale=1.0")

    link(rel="icon" href="./../asset/img/favicon.png" type="image/png")
    link(rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css" integrity="sha512-iecdLmaskl7CVkqkXNQ/ZH/XLlvWZOJyj7Yy7tcenmpD1ypASozpmT/E0iPtmFIB46ZmdtAc9eNBvH0H/ZpiBw==" crossorigin="anonymous" referrerpolicy="no-referrer")


    //- STYLES 
    link(rel="stylesheet" href="/src/css/general.css")
    link(rel="stylesheet" href="/src/css/chat.css")
    link(rel="stylesheet" href="/src/css/dashboard.css")
    link(rel="stylesheet" href="/src/css/order_and_payment.css")
    link(rel="stylesheet" href="/src/css/query_dashboard.css")


    script(defer src="/src/js/dashboard.js")
    script(defer src="/src/js/paymentAndOrder.js")
    script(src="https://js.paystack.co/v2/inline.js")
    script(defer src="/src/js/chat.js")
    script(src="/socket.io/socket.io.js")



    title=title
body
    #spinOverlay
        .spin
            div
            div
            div
            div
            div
            div
            div
            div
            div
            div
    //- section.section__dashboard(data-user=user)
    section.section__dashboard
        .section__top
            .nav__logo
                i.fa-solid.fa-close.icon.nav__icon.menubar-control.menu-closed
                i.fa-solid.fa-bars.icon.nav__icon.menubar-control.menu-opened.hidden
                a(href='/dashboard')
                    img.logo(src='/asset/img/logo-removebg.png' alt='clubmerce logo')
                a(href='/dashboard')
                    img.logo-small(src='/asset/img/favicon.png' alt='clubmerce logo')
            nav.navbar
            
                -if(section === 'marketplace')
                    form.nav__search
                        input.nav__input(type='search' placeholder='search...')
                        button.search__button(type='submit')
                            i.fa-solid.fa-magnifying-glass.icon.nav__icon(data-digits=0)

                span.nav__icons
                    //- -if(user.role === 'vendor')
                    -if(user.role === 'vendor' && user.vendorSubscriptionType !== 'premium')
                        a.nav__link.nav__upgrade.nav--text(href="/upgrade-account") upgrade +
                    -if(user.role === 'admin')
                        a.nav--text(href='settings') change 
                            br 
                            | password
                    -if(user.role === 'buyer')
                        span.shop-cart
                            i.fa-solid.fa-shopping-cart.icon.nav__icon.shopping-cart(data-digits=0)
                        .shopping__cart.hidden
                            h4.dashboard__heading.checkout__heading Cart
                            .checkout__box
                                //- 
                            .checkout__box--controls
                                span.checkout__box--controls-info
                                    p Sub Total
                                    span.total-checkout ₦0
                                .controls
                                    button.order__checkout--button Proceed to checkout


                    span.notification__icon
                        i.fa-regular.fa-bell.icon.nav__icon(data-digits=0)
                        //- notification...
                        .notification__hovered.hidden 
                            h3.dashboard__heading Notification
                            //- .notification__content you have no notification
                            .notification
                                -if(user.role !== 'admin')
                                    .notify__details
                                        .notify__status &nbsp;
                                        span
                                            h4.notify__head Coming Soon.
                                            span.notify__body-box
                                                p.notify__body From Admin.
                                                span &dash;
                                                p.notify__date 0 mins ago
                                    .notify__image--box
                                        img.notify__image(src=`/asset/img/users/${user.image}` alt='')
                                    //- .notify__icon--box
                                        i.fa-solid.fa-lock.icon.notify__icon
                                -else 
                                    .notify__details
                                        p Coming Soon
                                
                    -if(user.role === 'admin')
                        span
                            //- img.nav__image(src=`asset/img/${user.image}`)
                            .nav__image--box
                                img.nav__image(src=`/asset/img/users/${user.image}` alt=`user's photo`)
                    -else
                        span
                            .nav__image--box
                                img.nav__image(src=`/asset/img/users/${user.image}` alt=`user's photo`)
                            //- profile...
                            .Profile__hovered.hidden
                                .profile__content
                                    .profile__owner
                                        .profile__image--box
                                            img.profile__image(src=`/asset/img/users/${user.image}` alt=`user's photo`)
                                        p.profile__name= user.fullName
                                    a.profile__link.nav__link(href="/profile") My profile
                                    button.profile__button.order-nav__link(class=`${user.role === 'buyer' ? 'buyer__nav--logout' : 'nav__logout'}`) signout&nbsp;
                                        i.fa-solid.fa-arrow-right-to-bracket.profile__icon


            

        mixin menuItem(link, text, icon, active)                    
            li(class=`${active ? 'menu__item menu__active' : 'menu__item'}`)
                a.menu__link(href=`/${link}`)
                    i.icon.menu__icon(class=`${icon}`)
                    p #{text}

        .section__bottom
            menu.menubar
                .menu__body
                    ul.menu__list
                        -if(user.role === 'buyer')
                            +menuItem('buyers/dashboard', 'My Dashboard', 'fa-solid fa-gauge', _)
                            //- +menuItem('buyers/order', 'My Orders', 'fa-solid fa-shopping-cart', _)

                        -if(user.role === 'affiliate')
                            +menuItem('dashboard', 'Dashboard', 'fa-solid fa-gauge', _)
                            +menuItem('marketplace', 'Affiliate Marketplace', 'fa-solid fa-shop', _)
                            +menuItem('leaderboard', 'Affiliate Leaderboard', 'fa-solid fa-trophy', _)
                            +menuItem('performance', 'My Performance', 'fa-solid fa-chart-simple', _)
                            +menuItem('transaction', 'Transactions', 'fa-solid fa-chart-line', _)
                            +menuItem('settings', 'settings', 'fa-solid fa-gear', _)

                        -if(user.role === 'vendor')
                            +menuItem('dashboard', 'Dashboard', 'fa-solid fa-gauge', _)
                            +menuItem('product-catalog', 'Product Catalog', 'fa-solid fa-clipboard-list', _)
                            +menuItem('performance', 'Product Performance', 'fa-solid fa-chart-simple', _)
                            +menuItem('leaderboard', 'Vendor Leaderboard', 'fa-solid fa-trophy', _)
                            +menuItem('transaction', 'Transactions', 'fa-solid fa-chart-line', _)
                            +menuItem('settings', 'settings', 'fa-solid fa-gear', _)

                        -if(user.role === 'admin')
                            +menuItem('dashboard', 'All perfomance', 'fa-solid fa-chart-simple', _)
                            +menuItem('manage-app', 'App settings', 'fa-solid fa-gears', _)


                -if(user.role === 'admin')
                    .menu__bottom 
                        ul.menu__list 
                            li.menu__item 
                                a.menu__link(href="/manage-ads") 
                                    i.fa-solid.fa-rectangle-ad.icon.menu__icon
                                    p Manage Ads
                            li.menu__item 
                                a.menu__link(href="/manage-users") 
                                    i.fa-solid.fa-users.icon.menu__icon
                                    p Manage Users
                            li.menu__item
                                a.menu__link(href="/manage-products") 
                                    i.fa-solid.fa-shopping-bag.icon.menu__icon
                                    p Manage Products
                            li.menu__item
                                a.menu__link(href="/manage-order")
                                    i.fa-solid.fa-shopping-cart
                                    //- i.fa-solid.fa-credit-card.icon.menu__icon
                                    p Manage Orders
                            li.menu__item
                                a.menu__link(href="/manage-payment")
                                    //- i.fa-solid.fa-shopping-cart
                                    i.fa-solid.fa-credit-card.icon.menu__icon
                                    p Manage Payments
                            li.menu__item
                                a.menu__link.admin__menu--logout
                                    i.fa-solid.fa-arrow-right-to-bracket.icon.menu__icon
                                    | signout&nbsp;
               
                -else 
                    .menu__bottom
                        ul.menu__list
                            li.menu__item
                                a.menu__link(href=`${user.role === 'buyer' ? '/buyers/profile' : '/profile'}`)
                                    img.menu__profile-image(src=`/asset/img/users/${user.image}` alt=`user's photo`)
                                    p profile
                            li.menu__item
                                button.menu__button(class=`${user.role === 'buyer' ? 'buyer__menu--logout' : 'menu__logout'}`)
                                    | signout&nbsp;
                                    i.fa-solid.fa-arrow-right-to-bracket
                                    
            main.main__dashboard
                .dashboard__content
                    block content
                        -if(user.role === 'affiliate')
                            .main__dashboard--container
                                span.heading
                                    //- span &nbsp;👋🏾
                                    h3.dashboard__heading.margin__left--xsm=`Welcome back, ${user.fullName.split(' ')[0]}`
                                    span &nbsp;
                                        picture
                                            source(srcset='https://fonts.gstatic.com/s/e/notoemoji/latest/1f44b_1f3fe/512.webp' type='image/webp')
                                            img(src='https://fonts.gstatic.com/s/e/notoemoji/latest/1f44b_1f3fe/512.gif' alt='👋' width='32' height='32')
                                .dashboard__insights 
                                    .insight.insight__one
                                        .icon__box 
                                            i.fa-solid.fa-money-bill-1-wave.insight__icon
                                        span 
                                            p.insight__title All Time Earnings
                                            p.insight__text=`₦${user.totalAmountWallet.toFixed(0).replace(/\B(?=(\d{3})+(?!\d))/g, ',')}`
                                            //- p.insight__text ₦400,948

                                    .insight.insight__two
                                        .icon__box 
                                            i.fa-solid.fa-comments-dollar.insight__icon
                                        span 
                                            p.insight__title Avail. Profit
                                            p.insight__text= `₦${user.availableAmountWallet.toFixed(0).replace(/\B(?=(\d{3})+(?!\d))/g, ',')}`


                                    .insight.insight__four
                                        .icon__box 
                                            i.fa-solid.fa-coins.insight__icon
                                        span 
                                            p.insight__title Pending Profit
                                            p.insight__text= `₦${user.pendingAmountWallet.toFixed(0).replace(/\B(?=(\d{3})+(?!\d))/g, ',')}`

                                    .insight.insight__two
                                        .icon__box 
                                            i.fa-solid.fa-comments-dollar.insight__icon
                                        span 
                                            p.insight__title Product Sold
                                            p.insight__text= `${Number(Math.trunc(user.productSold))}`
                                            

                                    .insight.insight__three
                                        .icon__box 
                                            i.fa-solid.fa-up-right-from-square.insight__icon
                                        span
                                            p.insight__title Link clicks
                                            p.insight__text= user.clicks

                                    .insight.insight__four
                                        .icon__box 
                                            i.fa-solid.fa-bullhorn.insight__icon
                                        span
                                            //- p.insight__text= user.affiliateUrl.length
                                            p.insight__title Promotion url
                                            p.insight__text= user.affiliateLinks.length
                                            //- p.insight__text= user.affiliateLinks[0] === 0 ? 0 : user.affiliateLinks.length 




                                .dashboard__table
                                    .table
                                        .table-title
                                            h4.table-heading Recent commission
                                            i.fa-silid.fa-vertical-dots.table__icon
                                        .table-head
                                            span.table-head-content Product
                                            span.table-head-content Commission amount
                                            span.table-head-content Status
                                            span.table-head-content date

                                        -if(commissions.length < 1)
                                            .table-row-message
                                                p.note-no You've have not made any sale commission...

                                        - else
                                            each commission of commissions
                                                .table-row
                                                    span.table-row-content.table-row-product
                                                        img.table-product__image(src=`/asset/img/products/${commission.product.image}` alt='')
                                                        span
                                                            p.table-product__name= commission.product.name
                                                            p.table-product__niche= commission.product.category
                                                    span.table-row-content
                                                        p.price= `₦${Number(commission.commissionAmount).toFixed(0).replace(/\B(?=(\d{3})+(?!\d))/g, ',')}`
                                                    span.table-row-content
                                                        p(class=`status status--${commission.status}`)= commission.status
                                                    span.table-row-content
                                                        p.date= commission.paidAt
                                            

                            

                        -if(user.role === "vendor")
                            .main__dashboard--container
                                span.heading
                                    h3.dashboard__heading=`Welcome back, ${!user.business ? user.fullName.split(' ')[0] : user.businessName}`
                                    //- span &nbsp;👋🏾
                                    span &nbsp;
                                        picture
                                            source(srcset='https://fonts.gstatic.com/s/e/notoemoji/latest/1f44b_1f3fe/512.webp' type='image/webp')
                                            img(src='https://fonts.gstatic.com/s/e/notoemoji/latest/1f44b_1f3fe/512.gif' alt='👋' width='32' height='32')
                                .dashboard__insights 
                                    .insight.insight__one
                                        .icon__box 
                                            i.fa-solid.fa-money-bill-1-wave.insight__icon
                                        span 
                                            p.insight__title All Time Earnings
                                            p.insight__text=`₦${user.totalAmountWallet.toFixed(0).replace(/\B(?=(\d{3})+(?!\d))/g, ',')}`


                                    .insight.insight__two
                                        .icon__box 
                                            i.fa-solid.fa-comments-dollar.insight__icon
                                        span 
                                            p.insight__title Avail. Balance
                                            p.insight__text=`₦${user.availableAmountWallet.toFixed(0).replace(/\B(?=(\d{3})+(?!\d))/g, ',')}`

                                    .insight.insight__four
                                        .icon__box 
                                            i.fa-solid.fa-coins.insight__icon
                                        span 
                                            p.insight__title Pending Profit
                                            p.insight__text=`₦${user.pendingAmountWallet.toFixed(0).replace(/\B(?=(\d{3})+(?!\d))/g, ',')}`
                                    

                                    .insight.insight__two
                                        .icon__box 
                                            i.fa-solid.fa-list-check.insight__icon
                                        span 
                                            p.insight__title My Products
                                            p.insight__text= products.length
                                            
                                    -const currentOrderCount = recieviedOrders.filter(order => order.orderStatus === 'pending');
                                    .insight.insight__three
                                        .icon__box 
                                            i.fa-solid.fa-shopping-cart.insight__icon
                                        span
                                            p.insight__title Orders
                                            p.insight__text= currentOrderCount.length

                                    .insight.insight__one
                                        .icon__box 
                                            i.fa-solid.fa-bullhorn.insight__icon
                                        span
                                            p.insight__title Affiliate Gravity
                                            p.insight__text= products.reduce((acc, product) => acc + product.productGravity, 0)
                                            //- p.insight__text= product.productGravity
                                        

                                //- .dashboard__table
                                    .table.table-po
                                        .table-title
                                            h4.table-heading Product orders
                                        .table-head-po
                                            span.table-head-content Product
                                            span.table-head-content Quantity
                                            span.table-head-content Total price
                                            span.table-head-content location
                                            span.table-head-content status
                                            span.table-head-content Actions

                                    -if(recieviedOrders < 1)
                                        .table-row-message
                                            p.note-no You've no order at the moment...

                                    -else
                                        each order of recieviedOrders
                                            .table-row-po
                                                span.table-row-content.table-row-product
                                                    img.table-product__image(src=`asset/img/products/${order.product.image}` alt='')
                                                    span
                                                        p.table-product__name= order.product.name
                                                        p.table-product__niche= order.product.category
                                                span.table-row-content
                                                    p.order= order.quantity
                                                span.table-row-content
                                                    p.price= `₦${Number(order.amount).toFixed(0).replace(/\B(?=(\d{3})+(?!\d))/g, ',')}`
                                                span.table-row-content
                                                    p.brand= order.vendor.businessName
                                                span.table-row-content
                                                    p(class=`status status--${order.orderStatus}`)= order.orderStatus
                                                span.table-row-content
                                                    //- p(class=`status status--${order.orderStatus}`)= order.orderStatus
                                
                                .dashboard__table
                                    .table.table-po
                                        .table-title
                                            h4.table-heading Product orders
                                        .table-head-po
                                            span.table-head-content Product
                                            span.table-head-content Quantity
                                            span.table-head-content Total price
                                            span.table-head-content Location
                                            span.table-head-content Status
                                            span.table-head-content Date
                                        
                                        -if(recieviedOrders < 1) 
                                            .table-row-message
                                                p.note-no No order at the moment...

                                        -else
                                            each order of recieviedOrders
                                                .table-row-po
                                                    span.table-row-content.table-row-product
                                                        img.table-product__image(src=`/asset/img/products/${order.product.image}` alt='product image')
                                                        span
                                                            p.table-product__name= order.product.name
                                                            p.table-product__niche= order.product.niche
                                                    span.table-row-content
                                                        p.order= order.quantity
                                                    span.table-row-content
                                                        p.price= `₦${Number(order.vendorProfit).toFixed(0).replace(/\B(?=(\d{3})+(?!\d))/g, ',')}`
                                                    span.table-row-content
                                                        p.brand= order.buyer.country
                                                    span.table-row-content
                                                        p(class=`status status--${order.orderStatus}`)= order.orderStatus
                                                    span.table-row-content
                                                        p.time= order.orderedAt

                   

                        -if(user.role == "admin")
                            .main__dashboard--container
                                span.heading
                                    h3.dashboard__heading=`Welcome back Boss (Admin)`
                                    //- span &nbsp;👋🏾
                                    span &nbsp;
                                        picture
                                            source(srcset='https://fonts.gstatic.com/s/e/notoemoji/latest/1f44b_1f3fe/512.webp' type='image/webp')
                                            img(src='https://fonts.gstatic.com/s/e/notoemoji/latest/1f44b_1f3fe/512.gif' alt='👋' width='32' height='32')
                                .dashboard__insights 


                                    .insight.insight__two
                                        .icon__box 
                                            i.fa-solid.fa-money-bill-1-wave.insight__icon
                                        span 
                                            //- come back to to redo
                                            p.insight__title App Profit
                                            p.insight__text 0

                                    .insight.insight__one
                                        .icon__box 
                                            i.fa-regular.fa-user.insight__icon
                                        span 
                                            p.insight__title Total Affiliates
                                            p.insight__text= allUsers.filter(user => user.role === 'affiliate').length


                                    .insight.insight__four
                                        .icon__box 
                                            i.fa-solid.fa-user-tie.insight__icon
                                        span
                                            p.insight__title Total Vendors
                                            p.insight__text= allUsers.filter(user => user.role === 'vendor').length

                                    .insight.insight__three
                                        .icon__box 
                                            i.fa-solid.fa-user-tag.insight__icon
                                        span
                                            p.insight__title Total Buyers
                                            p.insight__text= allUsers.filter(user => user.role === 'buyer').length

                                    .insight.insight__two
                                        .icon__box 
                                            //- i.fa-solid.fa-shopping-bag.insight__icon
                                            i.fa-solid.fa-basket-shopping.insight__icon
                                        span 
                                            p.insight__title Total Products
                                            p.insight__text= allProducts.length

                                    .insight.insight__three
                                        .icon__box 
                                            i.fa-solid.fa-shopping-cart.insight__icon
                                        span 
                                            p.insight__title Total Orders
                                            p.insight__text= allOrders.length
                                    

                                    .insight.insight__four
                                        .icon__box 
                                            i.fa-solid.fa-gift.insight__icon
                                        span
                                            p.insight__title Total Purchases
                                            p.insight__text= `${Math.trunc(totalPurchases)}`

                                    .insight.insight__four
                                        .icon__box 
                                            i.fa-solid.fa-up-right-from-square.insight__icon
                                        span
                                            p.insight__title Total Clicks
                                            p.insight__text= totalClicks

                                    .insight.insight__three
                                        .icon__box 
                                            i.fa-solid.fa-money-bill-transfer.insight__icon
                                        span
                                            - const conversionRate = (totalPurchases / totalClicks) * 100;
                                            p.insight__title conversion Rate
                                            p.insight__text= conversionRate.toFixed(2) + '%'

                                    .insight.insight__two
                                        .icon__box 
                                            i.fa-solid.fa-percent.insight__icon
                                        span
                                            - const ctr = (totalClicks / allUsers.length) * 100;
                                            p.insight__title CTR
                                            p.insight__text= ctr.toFixed(2) + '%'
                                    
                                    .insight.insight__three
                                        .icon__box 
                                            i.fa-solid.fa-users.insight__icon
                                        span 
                                            p.insight__title Total Users
                                            p.insight__text= allUsers.filter(user => user.role !== 'admin').length


                                    .insight.insight__four
                                        .icon__box 
                                            i.fa-solid.fa-money-bill-transfer.insight__icon
                                        span 
                                            //- come back to to redo
                                            p.insight__title All Time Payout
                                            p.insight__text 0
                           


                                //- .dashboard__table
                                    .table.table-po
                                        .table-title
                                            h4.table-heading Product orders
                                        .table-head-po
                                            span.table-head-content Product
                                            span.table-head-content Quantity
                                            span.table-head-content Total price
                                            span.table-head-content Location
                                            span.table-head-content Status
                                            span.table-head-content Date
                                        
                                        -if(allOrders < 1) 
                                            .table-row-message
                                                p.note-no No order at the moment...

                                        -else
                                            each order of allOrders
                                                .table-row-po
                                                    span.table-row-content.table-row-product
                                                        img.table-product__image(src=`/asset/img/products/${order.product.image}` alt='product image')
                                                        span
                                                            p.table-product__name= order.product.name
                                                            p.table-product__niche= order.product.niche
                                                    span.table-row-content
                                                        p.order= order.quantity
                                                    span.table-row-content
                                                        p.price= `₦${Number(order.amount).toFixed(0).replace(/\B(?=(\d{3})+(?!\d))/g, ',')}`
                                                    span.table-row-content
                                                        p.brand= order.buyer.country
                                                    span.table-row-content
                                                        p(class=`status status--${order.orderStatus}`)= order.orderStatus
                                                    span.table-row-content
                                                        p.time= order.orderedAt


                        -if(user.role === 'buyer')
                            .main__dashboard--container
                                span.heading
                                    h3.dashboard__heading.margin__left--xsm=`Welcome back, ${user.fullName.split(' ')[0]}`
                                    //- span &nbsp;👋🏾
                                    span &nbsp;
                                        picture
                                            source(srcset='https://fonts.gstatic.com/s/e/notoemoji/latest/1f44b_1f3fe/512.webp' type='image/webp')
                                            img(src='https://fonts.gstatic.com/s/e/notoemoji/latest/1f44b_1f3fe/512.gif' alt='👋' width='32' height='32')

                                -const currentOrders = requestingOrders.filter(order => order.orderStatus === 'pending');
                                -const deliveredOrders = requestingOrders.filter(order => order.orderStatus === 'delivered');
                                .dashboard__insights 
                                    .insight.insight__one
                                        .icon__box 
                                            i.fa-solid.fa-shopping-cart.insight__icon
                                        span 
                                            p.insight__title Cart Item
                                            p.insight__text.dashboard-cart 0

                                    .insight.insight__one
                                        .icon__box 
                                            i.fa-solid.fa-basket-shopping.insight__icon
                                        span 
                                            p.insight__title Current Orders
                                            p.insight__text= currentOrders.length

                                    .insight.insight__two
                                        .icon__box 
                                            i.fa-solid.fa-gift.insight__icon
                                        span 
                                            p.insight__title Products Bought
                                            p.insight__text= deliveredOrders.length

                                .dashboard__table
                                    .table.table-po
                                        .table-title
                                            h4.table-heading Product orders
                                        .table-head-po
                                            span.table-head-content Product
                                            span.table-head-content quantity
                                            span.table-head-content Total price
                                            span.table-head-content location
                                            span.table-head-content status
                                        
                                        -if(requestingOrders < 1) 
                                            .table-row-message
                                                p.note-no No order at the moment...
                                        -else
                                            each order of requestingOrders
                                                .table-row-po
                                                    span.table-row-content.table-row-product
                                                        img.table-product__image(src=`/asset/img/products/${order.product.image}` alt='product image')
                                                        span
                                                            p.table-product__name= order.product.name
                                                            p.table-product__niche= order.product.niche
                                                    span.table-row-content
                                                        p.order= order.quantity
                                                    span.table-row-content
                                                        p.price= `₦${Number(order.amount).toFixed(0).replace(/\B(?=(\d{3})+(?!\d))/g, ',')}`
                                                    span.table-row-content
                                                        p.brand= order.buyer.country
                                                    span.table-row-content
                                                        p(class=`status status--${order.orderStatus}`)= order.orderStatus
                                                    span.table-row-content
                                                        p.time= order.orderedAt
                -if(user.role === 'buyer')
                    .checkout__overlay.hidden
                        .checkout__modal
                            i.fa-solid.fa-close.icon.close__checkout
                            h3.dashboard__heading.checkout__heading Checkout
                            span.checkout__info--box
                                //-    
                            form.checkout__form#order-checkout(data-user=user)
                                span
                                    h3.dashboard__heading Form info
                                    p.sumTotal N2000

                                .form__item
                                    label.form__label(for='email') Email address
                                    input#email.form__input(type='email' placeholder='Email address' required)
                                
                                .form__item
                                    label.form__label(for='fullname') Fullname
                                    input#fullname.form__input(type='text' placeholder='Full Name' required)
                                .form__item
                                    button.form__button(type='submit') Proceed
                                            

                include _auth_footer
                                    



    -if(user.role === 'vendor' && user.vendorAccountType !== 'free' && !user.vendorSubscriptionActive)
        .checkout__overlay
            .checkout__modal
                span.checkout__info
                    span
                        p.product__name= user.vendorAccountType
                        p.product__price= `${user.vendorAccountType === 'standard' ? '₦15,000' : '₦20,000'}`
                    span 
                        p.product__summary For #{user.vendorAccountType === 'standard' ? 'medium size' : 'big' } businesses
                        p.product__quantity

                form.checkout__form#onSignup-upgrade-checkout(data-price=`${user.vendorAccountType === 'standard' ? '15000' : '20000'}` data-quantity='1' data-user=user)
                    h3.dashboard__heading Subscription Payment
                    .form__item
                        label.form__label(for='email') Email address
                        input#email.form__input(type='email' placeholder='Email address' required)
                    .form__item
                        label.form__label(for='fullname') Full name
                        input#fullname.form__input(type='text' placeholder='Full name' required)
                    .form__item
                        button.form__button(type='submit') Proceed




    //- chat box
    button.chat__box-toggler(style=`${user.role === 'admin' ? 'display: none; opacity: 0;' : ''}`)
        span.material-symbols-rounded
            i.fa-solid.fa-comment
            | Chat
        span.material-symbols-outlined
            i.fa-solid.fa-close


    .chat__box
        .chat-head
            i.fa-solid.fa-arrow-left.btn-back 
            p.chat-person From Admin
            span.close-btn.material-symbols-outlined close
        //- .chat-head-chat
            p.chat-heading Chats ✉
            span.close-btn.material-symbols-outlined close
        ul.chat__box--chat
            li.chat.incoming
                p Coming Soon...
        .chat-input
            textarea(placeholder='Enter a message...' spellcheck='false' required='')
            span#send-btn.material-symbols-rounded send

                                


        
    //- .chat__box
        .chat-top
            p.chat-name Idowu Olatunji
            .chat-top__icons
                i.fa-solid.fa-gear.chat-icon
                i.fa-solid.fa-close.chat-icon
        .chat-mid
            .chat-mid__from.main
                .img-box
                    img.chat-img.from-img(src='asset/img/face.png' alt='')
                .chat
                    p.chat-from__point
                        span ~&nbsp;
                        | Idowu Olatunji
                    p.chat-date 8:30
                    p.chat-from__message Lorem ipsum dolor sit amet consectetur adipisicing elit. Repellendus, illo?
            .chat-mid__me.main
                .img-box
                    img.chat-img.from-img(src='asset/img/avatar.png' alt='')
                .chat
                    p.chat-me__point
                        span ~&nbsp;
                        | Me
                    p.chat-date 17:10
                    p.chat-me__message Lorem ipsum dolor sit amet consectetur adipisicing elit. Repellendus, illo?
        .chat-end
            .chat-end__chat
                form.chat__form
                    input.chat-end__input(type='text' placeholder='Type your message')
                    button.chat__button(type='submit')
                        i.fa-solid.fa-arrow-right.chat-icon
            .chat-end__controls
                i.fa-solid.fa-paperclip.chat-icon
                i.fa-regular.fa-face-smile.chat-icon