DOCTYPE
html(lang="en")

head
    meta(charset="UTF-8")
    meta(http-equiv="X-UA-Compatible" content="IE=edge")
    meta(name="viewport" content="width=device-width, initial-scale=1.0")

    link(rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css" integrity="sha512-iecdLmaskl7CVkqkXNQ/ZH/XLlvWZOJyj7Yy7tcenmpD1ypASozpmT/E0iPtmFIB46ZmdtAc9eNBvH0H/ZpiBw==" crossorigin="anonymous" referrerpolicy="no-referrer")
    //- link(rel="favicon" href="")

    //- STYLES 
    link(rel="stylesheet" href="src/css/general.css")
    link(rel="stylesheet" href="src/css/dashboard.css")
    link(rel="stylesheet" href="src/css/query_dashboard.css")


    title=title
body

    section.section__dashboard
        .section__top
            .nav__logo
                i.fa-solid.fa-close.icon.nav__icon.menubar-control.menu-closed
                i.fa-solid.fa-bars.icon.nav__icon.menubar-control.menu-opened.hidden
                img.logo(src='asset/img/logo-removebg.png' alt='clubmerce logo')
                img.logo-small(src='asset/img/favicon.png' alt='clubmerce logo')
            nav.navbar
            
                - if(section === 'marketplace')
                    form.nav__search
                        input.nav__input(type='search' placeholder='search...')
                        button.search__button(type='submit')
                            i.fa-solid.fa-magnifying-glass.icon.nav__icon

                span.nav__icons
                    span.notification__icon
                        i.fa-regular.fa-bell.icon.nav__icon
                        //- notification...
                        .notification__hovered.hidden 
                            h3.dashboard__heading Notification
                            p.notification__amount New (0)
                                .notification__content 
                                    span.notice 
                                | you have no notification

                    span
                        img.nav__image(src=`asset/img/${user.image}.png` alt=`customer's (${user.username}) photo`)
                        //- profile...
                        .Profile__hovered.hidden
                            .profile__content
                                .profile__owner
                                    img.profile__image(src=`asset/img/${user.image}.png` alt=`customer's (${user.username}) photo`)
                                    p.profile__name= user.fullName
                                a.profile__link.nav__link(href="/profile") My profile
                                button.profile__button.nav__link#logoutNavBtn signout&nbsp;
                                    i.fa-solid.fa-arrow-right-to-bracket.profile__icon


        mixin menuItem(link, text, icon, active)                    
            li(class=`${active ? 'menu__item menu__active' : 'menu__item'}`)
                a.menu__link(href=`/${link}`)
                    i.icon.menu__icon(class=`${icon}`)
                    p #{text}

        .section__bottom
            menu.menubar
                .menu__body
                    ul.menu__list
                        -if(user.role === 'affiliate')
                            +menuItem('dashboard', 'Dashboard', 'fa-solid fa-gauge', false)
                            +menuItem('marketplace', 'Affiliate Marketplace', 'fa-solid fa-shop', false)
                            +menuItem('performance', 'My Performance', 'fa-solid fa-chart-simple', false)
                            +menuItem('transaction', 'Transactions', 'fa-solid fa-chart-line', false)
                            +menuItem('settings', 'settings', 'fa-solid fa-gear', false)

                        -if(user.role === 'vendor')
                            +menuItem('dashboard', 'Dashboard', 'fa-solid fa-gauge', false)
                            +menuItem('product-catalog', 'Product Catalog', 'fa-solid fa-clipboard-list', false)
                            +menuItem('performance', 'Product Performance', 'fa-solid fa-chart-simple', false)
                            +menuItem('transaction', 'Transactions', 'fa-solid fa-chart-line', false)
                            +menuItem('settings', 'settings', 'fa-solid fa-gear', false)

                        -if(user.role === 'admin')
                            +menuItem('all-performance', 'All perfomance', 'fa-solid fa-chart-simple', false)
                            +menuItem('product-marketplace', 'Product Marketplace', 'fa-solid fa-clipboard-list', false)
                            +menuItem('settings', 'settings', 'fa-solid fa-gear', false)

                -if(user.role === 'admin')
                    .menu__bottom 
                        ul.menu__list 
                            li.menu__item 
                                a.menu__link(href="/manage-users") 
                                    i.fa-solid.fa-users.icon.menu__icon
                                    p Manage Users
                            li.menu__item
                                a.menu__link(href="/manage-products") 
                                    i.fa-solid.fa-gift.icon.menu__icon
                                    p Manage Products
                            li.menu__item
                                a.menu__link(href="/manage-payment")
                                    //- i.fa-solid.fa-shopping-cart
                                    i.fa-solid.fa-credit-card.icon.menu__icon
                                    p Manage Payments
                            li.menu__item
                                a.menu__link#logoutMenu
                                    i.fa-solid.fa-arrow-right-to-bracket.icon.menu__icon
                                    | signout&nbsp;
               
                -else 
                    .menu__bottom
                        ul.menu__list
                            li.menu__item
                                a.menu__link(href="/profile")
                                    //- img.menu__profile-image(src='asset/img/face.png')
                                    img.menu__profile-image(src=`asset/img/${user.image}.png` alt=`customer's (${user.username}) photo`)
                                    p profile
                            li.menu__item
                                button.menu__button#logoutMenuBtn
                                    | signout&nbsp;
                                    i.fa-solid.fa-arrow-right-to-bracket
            main.main__dashboard
                .dashboard__content
                    block content
                        -if(user.role === 'affiliate')
                            .main__dashboard--container
                                h3.dashboard__heading=`Welcome back, ${user.fullName.split(' ')[0]}`
                                .dashboard__insights 
                                    .insight.insight__one
                                        span 
                                            p.insignt__text=`₦ ${user.wallet}`
                                            i.fa-solid.fa-coins.insight__icon
                                        p.insignt__title Total enarned

                                    .insight.insight__two
                                        span 
                                            p.insignt__text= user.productSold
                                            i.fa-solid.fa-comments-dollar.insight__icon
                                        p.insignt__title Product Sold

                                    .insight.insight__three
                                        span
                                            p.insignt__text= user.clicks
                                            i.fa-solid.fa-up-right-from-square.insight__icon
                                        p.insignt__title Links clicks

                                    .insight.insight__four
                                        span
                                            //- p.insignt__text= user.affiliateUrl.length
                                            p.insignt__text= user.affiliateLinks.length
                                            i.fa-solid.fa-bullhorn.insight__icon
                                        p.insignt__title Promotions

                                .dashboard__table
                                    .table
                                        .table-title
                                            h4.table-heading Recent commission
                                            i.fa-silid.fa-vertical-dots.table__icon
                                        .table-head
                                            span.table-head-content Product
                                            span.table-head-content Commission amount
                                            span.table-head-content Status
                                            span.table-head-content date
                                        //- .table-row
                                            span.table-row-content.table-row-product
                                            img.table-product__image(src='../product.jpg' alt='')
                                            span
                                                p.table-product__name Test product 2
                                                p.table-product__niche E-books
                                            span.table-row-content
                                            p.price $&nbsp;90
                                            span.table-row-content
                                            p.status.status--pending pending
                                            span.table-row-content
                                            p.date 12/02/23
                                        .table-row-message
                                            p.note-no You've have not made any sale commission...

                            

                        -if(user.role === "vendor")
                            .main__dashboard--container
                                h3.dashboard__heading=`Welcome back, ${user.business ? user.fullName.split(' ')[0] : user.businessName}`
                                .dashboard__insights 
                                    .insight.insight__one
                                        span 
                                            p.insignt__text=`₦ ${user.wallet}`
                                            i.fa-solid.fa-comments-dollar.insight__icon
                                        p.insignt__title My profit

                                    .insight.insight__two
                                        span 
                                            //- p.insignt__text= user.product
                                            p.insignt__text 0
                                            //- i.fa-solid.fa-bag.insight__icon
                                            i.fa-solid.fa-list-check.insight__icon
                                        p.insignt__title My Products

                                    .insight.insight__three
                                        span
                                            p.insignt__text 0
                                            i.fa-solid.fa-shopping-cart.insight__icon
                                        p.insignt__title Orders

                                    .insight.insight__four
                                        span
                                            p.insignt__text= product.productGravity
                                            i.fa-solid.fa-bullhorn.insight__icon
                                        p.insignt__title Affiliate Gravity
                                        

                                .dashboard__table
                                    .table.table-po
                                        .table-title
                                            h4.table-heading Product orders
                                        .table-head-po
                                            span.table-head-content Product
                                            span.table-head-content orders
                                            span.table-head-content Total price
                                            span.table-head-content location
                                            span.table-head-content status
                                        //- .table-row-po
                                            span.table-row-content.table-row-product
                                            img.table-product__image(src='../product.jpg' alt='')
                                            span
                                                p.table-product__name Test product 1
                                                p.table-product__niche health &amp; fitness
                                            span.table-row-content
                                            p.order 5
                                            span.table-row-content
                                            p.price $&nbsp;120
                                            span.table-row-content
                                            p.brand Nigeria
                                            span.table-row-content
                                            p.status.status--success success
                                        .table-row-message
                                            p.note-no You've no order at the moment...


                        -if(user.role == "admin")
                            p this is the admin

                include _auth_footer

    script( src="src/js/index.js")