DOCTYPE
html(lang="en")

head
    meta(charset="UTF-8")
    meta(http-equiv="X-UA-Compatible" content="IE=edge")
    meta(name="viewport" content="width=device-width, initial-scale=1.0")

    link(rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css" integrity="sha512-iecdLmaskl7CVkqkXNQ/ZH/XLlvWZOJyj7Yy7tcenmpD1ypASozpmT/E0iPtmFIB46ZmdtAc9eNBvH0H/ZpiBw==" crossorigin="anonymous" referrerpolicy="no-referrer")
    //- link(rel="favicon" href="")

    //- STYLES 
    link(rel="stylesheet" href="src/css/general.css")
    link(rel="stylesheet" href="src/css/dashboard.css")
    link(rel="stylesheet" href="src/css/query_dashboard.css")


    title=title
body

    section.section__dashboard
        .section__top
            .nav__logo
                i.fa-solid.fa-close.icon.nav__icon.menubar-control
                img.logo(src='../../asset/img/logo-removebg.png' alt='clubmerce logo')
                img.logo-small(src='../../asset/img/favicon.png' alt='clubmerce logo')
            nav.navbar
            
                if section === 'marketplace'
                    form.nav__search
                        input.nav__input(type='search' placeholder='search...')
                        button.search__button(type='submit')
                            i.fa-solid.fa-magnifying-glass.icon.nav__icon
                //- form.nav__search
                //-     input.nav__input(type='search' placeholder='search...')
                //-     button.search__button(type='submit')
                //-         i.fa-solid.fa-magnifying-glass.icon.nav__icon

                span.nav__icons
                    span.notification__icon
                        i.fa-regular.fa-bell.icon.nav__icon
                        .notification__hovered.hidden 
                            h3.dashboard__heading Notification
                            p.notification__amount New (0)
                                .notification__content 
                                    span.notice 
                                | you have no notification

                    span
                        img.nav__image(src='../../asset/img/face.png' alt="customer's dashboard photo")
                        .Profile__hovered.hidden
                            .profile__content
                                .profile__owner
                                    img.profile__image(src="../../asset/img/face.png", alt="customer's dashboard photo")
                                    p.profile__name idowu olatunji
                                a.profile__link.nav__link(href="/profile") My profile
                                button.profile__button.nav__link#logout signout&nbsp;
                                    i.fa-solid.fa-arrow-right-to-bracket.profile__icon


        mixin menuItem(link, text, icon, active)                    
            li.menu__item(class=`${active ? 'menu__active' : ''}`)
                a.menu__link(href=`/${link}`)
                    i.icon.menu__icon(class=`${icon}`)
                    | #{text}

        .section__bottom
            menu.menubar
                .menu__body
                    ul.menu__list
                        //- -if(user.role === 'affiliate')
                        +menuItem('affiliate_dashboard', 'Dashboard', 'fa-solid fa-gauge', false)
                        +menuItem('marketplace', 'Affiliate marketplace', 'fa-solid fa-shop', false)
                        +menuItem('performance', 'Report and Performance', 'fa-solid fa-chart-simple', false)
                        +menuItem('transaction', 'Transactions', 'fa-solid fa-chart-line', false)
                        +menuItem('settings', 'settings', 'fa-solid fa-gear', false)

                        //- -if(user.role === 'vendor')
                            //- +menuItem('dashboard-v1', 'Dashboard', 'fa-solid fa-gauge', true)
                            //- +menuItem('catalog', 'Product Catalog', 'fa-regular fa-clipboard-list-check', false)
                            //- +menuItem('performance-v1', 'Report and Performance', 'fa-solid fa-chart-simple', false)
                            //- +menuItem('transaction', 'Transactions', 'fa-solid fa-chart-line', false)
                            //- +menuItem('settings', 'settings', 'fa-solid fa-gear', false)

                    //- -if(user.role !== 'admin')
                    //-     .menu__bottom
                    //-         ul.menu__list
                    //-             li.menu__item
                    //-                 a.menu__link(href="/profile")
                    //-                     img.menu__profile-image(src='../../asset/img/face.png')
                    //-                     | profile
                    //-             li.menu__item
                    //-                 a.menu__button(href='/login')
                    //-                     | signout&nbsp;
                    //-                     i.fa-solid.fa-arrow-right-to-bracket

                        //- -if(user.role === 'admin')
                            //- +menuItem('dashboard-v1', 'Dashboard', 'fa-solid fa-gauge', true)
                            //- +menuItem('catalog', 'Product Marketplace', 'fa-solid fa-clipboard-list', false)
                            //- +menuItem('performance', 'Vendors Performance', 'fa-solid fa-chart-simple', false)
                            //- +menuItem('performance', 'Affiliates Performance', 'fa-solid fa-chart-simple', false)
                            //- +menuItem('settings', 'settings', 'fa-solid fa-gear', false)


                //- .menu__bottom
                //-     ul.menu__list
                //-         li.menu__item
                //-             a.menu__link(href="/manage-users") Manage Users
                //-         li.menu__item
                //-             a.menu__link(href="/manage-product") Manage Products
                //-         li.menu__item
                //-             a.menu__button(href='/login')
                //-                 | signout&nbsp;
                //-                 i.fa-solid.fa-arrow
               
                .menu__bottom
                    ul.menu__list
                        li.menu__item
                            a.menu__link(href="/profile")
                                img.menu__profile-image(src='../../asset/img/face.png')
                                | profile
                        li.menu__item
                            button.menu__button#logout
                                | signout&nbsp;
                                i.fa-solid.fa-arrow-right-to-bracket
            main.main__dashboard
                .dashboard__content
                    block content

                include _auth_footer

    script( src="src/js/index.js")