extends base_account 

block content 
    h3.dashboard__heading Leaderboard

    .dashboard__table
        .table.table-ldb
            .table-title
                h4.table-heading Affiliate Leaderboard
            .table-head-ldb
                span.table-head-content user
                span.table-head-content email
                span.table-head-content Earned
                span.table-head-content Clicks
                span.table-head-content Promoting
                span.table-head-content Sales

            each affiliate of affiliateLeaderboard
                .table-row-ldb
                    span.table-row-content.table-row-product
                        img.table-product__image(src='asset/img/idowu.png' alt='')
                        span
                            p.table-user__name= affiliate.fullName
                            p.table-user__namename= affiliate.username
                    span.table-row-content
                        p.email= affiliate.email
                    span.table-row-content
                        p.wallet= affiliate.wallet
                    span.table-row-content
                        p.clicks= affiliate.clicks
                    span.table-row-content
                        p.links= affiliate.promotionLinksCounts
                    span.table-row-content
                        p.sold= affiliate.productSold
                    