extends base_account 

block content 
    //- manage all users
    
    .dashboard__table
        .table.table-mu
            .table-title
                h4.table-heading Manage All Users
            .table-head-mu
                span.table-head-content User
                span.table-head-content Email
                span.table-head-content role
                span.table-head-content nationality
                span.table-head-content status
                span.table-head-content actions

            - if(users.length > 0)
                each user of users 
                    .table-row-mu
                        span.table-row-content.table-row-product
                            img.table-user__image(src=`asset/img/users/${user.image}` alt='')
                            span
                                p.table-user__name= `${user.role === 'vendor' ? user.businessName : user.fullName}`
                                p.table-user__username= user.username
                        span.table-row-content
                            p.email= user.email
                        span.table-row-content
                            p.role= user.role
                        span.table-row-content
                            p.country= user.country
                        span.table-row-content
                            p(class=`status status--${user.active ? 'active' : 'inactive'}`)= `${user.active ? 'active' : 'inactive'}`
                        span.table-row-content.table-row-btn
                            button.btn-edit.table-btn.admin-user-edit(data-id=`${user._id}`) Edit
                            button.btn-delete.table-btn.admin-user-delete(data-id=`${user._id}`) Delete

            -else 
                .table-row-message
                    p.note-no No availiable user
        

            //- .delete__overlay
                .delete__modal
                    i.fa-solid.fa-close.delete__icon
                    p.delete__text Are you sure you want to delete this &grave;${item}&grave;
                    .delete__action
                        button.delete__button.btn-yes Yes
                        button.delete__button.btn-no No
