extends base_account 

block content 
    //- manage all users
    
    .dashboard__table
        .table.table-mu
            .table-title
                h4.table-heading Manage All Users
            .table-head-mu
                span.table-head-content User
                span.table-head-content Email
                span.table-head-content row
                span.table-head-content nationality
                span.table-head-content status
                span.table-head-content actions

        each user of users
            .table-row-mu
                span.table-row-content.table-row-product
                    img.table-user__image(src='asset/img/avatar.jpg' alt='')
                    span
                        p.table-user__name= user.fullName
                        p.table-user__username= user.username
                span.table-row-content
                    p.email= user.email
                span.table-row-content
                    p.role= user.role
                span.table-row-content
                    p.country= user.country
                span.table-row-content
                    p.status.status--active= user.active
                span.table-row-content.table-row-btn
                    button.btn-delete.table-btn Delete
                    //- button.btn-edit.table-btn Edit

            //- .delete__overlay
                .delete__modal
                    i.fa-solid.fa-close.delete__icon
                    p.delete__text Are you sure you want to delete this &grave;${item}&grave;
                    .delete__action
                        button.delete__button.btn-yes Yes
                        button.delete__button.btn-no No
