extends base_account 

block content 
    .table.table-mp
        .table-title
            h4.table-heading Manage All Orders
        .table-head-mp
            span.table-head-content Product
            span.table-head-content brand name
            span.table-head-content price
            span.table-head-content Type
            span.table-head-content Status
            span.table-head-content Actions

        -if(orders.length > 0)
            each order of orders
                -console.log(order)
                .table-row-mp(class=`${order.orderStatus === 'delivered' ? 'is-Completed' : '')
                    span.table-row-content.table-row-product
                        img.table-product__image(src=`asset/img/products/${order.product.image}` alt='order product image')
                        span
                            p.table-product__name= order.product.name
                            p.table-product__niche= order.product.niche
                    span.table-row-content
                        p.brand= order.vendor.businessName
                        -console.log(order.vendor.businessName)
                    span.table-row-content.price-quantity
                        p.price= `₦${Number(order.amount).toFixed(0).replace(/\B(?=(\d{3})+(?!\d))/g, ',')}`
                        P.table-quantity= `x ${order.quantity}`
                    span.table-row-content
                        p.type= order.product.type
                    span.table-row-content
                        p.approved(class=`status status--${order.orderStatus}`)= order.orderStatus
                    span.table-row-content.table-row-btn
                        button.btn-decline.table-btn Order Recieved &check;
                        //- button.btn-approve.table-btn 


        -else
            .table-row-message
                p.note-no No order has been made...        
