extends base_account 

block content 
    .dashboard__table
        .table.table-mpt
            .table-title
                h4.table-heading Manage Transactions
            .table-head-mpt
                span.table-head-content transaction ID
                span.table-head-content user
                span.table-head-content role
                span.table-head-content amount
                span.table-head-content purpose
                span.table-head-content status
                span.table-head-content date


           

            -if(transactions.length > 0)
                each transaction of transactions
                    .table-row-mpt
                        span.table-row-content
                            p.transaction transact-#{transaction.transactionId}
                        span.table-row-content
                            p.user= `${transaction.user.fullName}`
                        span.table-row-content
                            p.user= `${transaction.user.role}`
                        span.table-row-content
                            p.price= `${transaction.amount}`
                        span.table-row-content
                            p.purpose= transaction.purpose
                        span.table-row-content
                            p(class=`status status--${transaction.status}`)= transaction.status
                        span.table-row-content
                            p.date= transaction.paidAt
                        
        
            - else 
                .table-row-message
                    p.note-no No availiable transaction

