//- extends base_account 
DOCTYPE
html(lang="en")

head
    meta(charset="UTF-8")
    meta(http-equiv="X-UA-Compatible" content="IE=edge")
    meta(name="viewport" content="width=device-width, initial-scale=1.0")

    link(rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css" integrity="sha512-iecdLmaskl7CVkqkXNQ/ZH/XLlvWZOJyj7Yy7tcenmpD1ypASozpmT/E0iPtmFIB46ZmdtAc9eNBvH0H/ZpiBw==" crossorigin="anonymous" referrerpolicy="no-referrer")
    link(rel="icon" href="../asset/img/favicon.png" type="image/png")


    //- STYLES 
    link(rel="stylesheet" href="../src/css/general.css")
    link(rel="stylesheet" href="../src/css/dashboard.css")
    link(rel="stylesheet" href="../src/css/query_dashboard.css")

    script(src="/socket.io/socket.io.js")
    script(defer src="/src/js/productSearch.js")
    script(defer src="/src/js/link.js")
    script(defer src="/src/js/chat.js")

    title=title
body
    #spinOverlay
        .spin
            div
            div
            div
            div
            div
            div
            div
            div
            div
            div
    section.section__dashboard
        .section__top.margin__left--sm
            //- a(href='/dashboard')
            img.logo(src='asset/img/logo-removebg.png' alt='clubmerce logo')
            //- a(href='/dashboard')
            img.logo-small(src='asset/img/favicon.png' alt='clubmerce logo')
            nav.navbar
                form.nav__search
                    input.nav__input(type='search' placeholder='search...')
                    button.search__button(type='submit')
                        i.fa-solid.fa-magnifying-glass.icon.nav__icon
                    #search-result



                span.nav__icons
                    //- -if(user.role === 'admin')
                        span.notification__icon
                            i.fa-regular.fa-bell.icon.nav__icon
                            //- notification...
                            .notification__hovered.hidden 
                                h3.dashboard__heading Notification
                                //- .notification__content you have no notification
                                .notification
                                    .notify__details
                                        .notify__status &nbsp;
                                        span
                                            h4.notify__head Lorem ipsum dolor sit amet.
                                            span.notify__body-box
                                                p.notify__body Lorem, ipsum.
                                                span &dash;
                                                p.notify__date 10 mins ago
                                    .notify__image--box
                                        img.notify__image(src='asset/img/product.jpg' alt='')

                    span
                        img.nav__image(src=`asset/img/${user.image}.png` alt=`customer's (${user.username}) photo`)
                        .Profile__hovered.hidden
                            .profile__content
                                .profile__owner
                                    img.profile__image(src=`asset/img/${user.image}.png` alt=`customer's (${user.username}) photo`)
                                    p.profile__name= user.fullName
                                a.profile__link.nav__link(href="/profile") My profile
                                button.profile__button.nav__link#logout signout&nbsp;
                                    i.fa-solid.fa-arrow-right-to-bracket.profile__icon


        //- -if(user.role === 'admin')
            mixin menuItem(link, text, icon, active)                    
                li(class=`${active ? 'menu__item menu__active' : 'menu__item'}`)
                    a.menu__link(href=`/${link}`)
                        i.icon.menu__icon(class=`${icon}`)
                        p #{text}

            .section__bottom
                menu.menubar
                    .menu__body
                        ul.menu__list
                            
                            +menuItem('dashboard', 'All perfomance', 'fa-solid fa-chart-simple', false)
                            +menuItem('product-marketplace', 'Product Marketplace', 'fa-solid fa-clipboard-list', false)
                            +menuItem('settings', 'settings', 'fa-solid fa-gear', false)

                    .menu__bottom 
                        ul.menu__list 
                            li.menu__item 
                                a.menu__link(href="/manage-users") 
                                    i.fa-solid.fa-users.icon.menu__icon
                                    p Manage Users
                            li.menu__item
                                a.menu__link(href="/manage-products") 
                                    i.fa-solid.fa-gift.icon.menu__icon
                                    p Manage Products
                            li.menu__item
                                a.menu__link(href="/manage-payment")
                                    //- i.fa-solid.fa-shopping-cart
                                    i.fa-solid.fa-credit-card.icon.menu__icon
                                    p Manage Payments
                            li.menu__item
                                a.menu__link.admin__menu--logout
                                    i.fa-solid.fa-arrow-right-to-bracket.icon.menu__icon
                                    | signout&nbsp;


        //- -if(user.role === 'admin')
            main.main__dashboard
                .dashboard__content
                    h3.dashboard__heading All Product Marketplace

                    span
                        .products__cards--box 
                            each product in products

                                .product__card
                                    .product__side--left    
                                        .side--top
                                            .product__image--container
                                                img.product__image(src='../../asset/img/product.jpg' alt=product.name)
                                            .product__heading 
                                                h2.product__title= product.name
                                                p.product__niche=product.category
                                                .product__content
                                                    h4.product__description #{product.summary}...
                                        .side--bottom
                                            ul.product__info
                                                //- each icon in product.others
                                                li.product__info--item 
                                                    i.fa-solid.fa-truck-fast.product__icon.icon
                                                    | Digital Product
                                                li.product__info--item 
                                                    i.fa-solid.fa-tools.product__icon.icon
                                                    | Affiliate tools
                                                li.product__info--item 
                                                    i.fa-solid.fa-link.product__icon.icon
                                                    | Unique Link
                                                li.product__info--item 
                                                    i.fa-regular.fa-square-check.product__icon.icon
                                                    | Approved
                                                li.product__info--item 
                                                    i.fa-solid.fa-rotate.product__icon.icon
                                                    | Recurring
                                                

                                    .product__side--right
                                        span.product__commission
                                            p.commision avg commission 
                                            span.commission__amount= `₦ ${product.price}`
                                        a.btn.product__button.promote(data-productSlug=product.slug) Buyer/Order page
                                        a.product__button.page(target="_blank" href=`/marketplace/${product.slug}`) affiliate page

    
        main.main__dashboard
            .dashboard__content
                h3.dashboard__heading
                    a(href="/dashboard") 
                        i.fa-solid.fa-arrow-left.font-size-sm-help.margin__r-help 
                    | Clubmerce marketplace

                span.product__filtering-btn
                    select.select__input(id="select")
                        option(value="all") All
                        option(value="most-promoted") Most promoted
                        option(value="gravity-high-low") Gravity : High-low
                        option(value="commission-high-low") High commission 
                        option(value="gravity-low-high") Gravity : Low-high
                        option(value="physical-product") Physical products
                        option(value="recurring-commission") Recurring commission
                        option(value="commission-low-high") Low commission
                        option(value="digital-product") Digital products
                        option(value="least-promoted") Less promoted
                
                
                .products__container
                    aside.product__filtering
                        form.product__filter.form__item  
                            label.form__label(for="select") Sort results by
                            select.select__input(id="select")
                                option(value="all") All
                                option(value="most-promoted") Most promoted
                                option(value="gravity-high-low") Gravity : High-low
                                option(value="commission-high-low") High commission 
                                option(value="gravity-low-high") Gravity : Low-high
                                option(value="physical-product") Physical products
                                option(value="recurring-commission") Recurring commission
                                option(value="commission-low-high") Low commission
                                option(value="digital-product") Digital products
                                option(value="least-promoted") Less promoted
                        
                        .product__category
                            p catergories
                                ul.catergory__list
                                    //- each category of categories
                                    li.category__item(data-item='all') All
                                    li.category__item(data-item='arts') Arts
                                    li.category__item(data-item='betting') Betting
                                    li.category__item(data-item='books') Books
                                    li.category__item(data-item='business') Business
                                    li.category__item(data-item='computers') Computers
                                    li.category__item(data-item='cooking') Cooking
                                    li.category__item(data-item='e-Business-and-e-Marketing') E-Business and E-Marketing
                                    li.category__item(data-item='education') Education
                                    li.category__item(data-item='entertainment') Entertainment
                                    li.category__item(data-item='food-and-Wine') Food and Wine
                                    li.category__item(data-item='games') Games
                                    li.category__item(data-item='green-products') Green Products
                                    li.category__item(data-item='health-and-fitness') Health and Fitness
                                    li.category__item(data-item='home-and-garden') Home and Garden
                                    li.category__item(data-item='internet') Internet
                                    li.category__item(data-item='investing') Investing
                                    li.category__item(data-item='jobs') Jobs
                                    li.category__item(data-item='languages') Languages
                                    li.category__item(data-item='reciepe') Reciepe
                                    li.category__item(data-item='parenting-and-Families') Parenting and Families
                                    li.category__item(data-item='self-Help') Self-Help
                                    li.category__item(data-item='spirituality') Spirituality
                                    li.category__item(data-item='sports') Sports

                    span
                        h6.dashboard__subheading Top offers
                        p.figures Total #{products.length}

                        .products__cards--box 
                            each product in products

                                .product__card(class=`${product.isPromoted ? 'promoted' : ''}`)
                                    .product__side--left    
                                        .side--top
                                            .product__image--container
                                                img.product__image(src='../../asset/img/product.jpg' alt=product.name)
                                            .product__heading 
                                                h2.product__title= product.name
                                                p.product__niche=product.niche
                                                button.product__message.person(data-vendorId=`${product}`)
                                                    i.fa-solid.fa-envelope.icon
                                                    | Chat vendor
                                                .product__content
                                                    h4.product__description=  `${product.summary}...`
                                            
                                        .side--bottom
                                            ul.product__info
                                                li.product__info--item 
                                                    i.fa-solid.product__icon.icon(class=`${product.type !== 'Digital' ? 'fa-truck-fast' : 'fa-file'}`)
                                                    p= `${product.type} Product`
                                                li.product__info--item 
                                                    i.fa-solid.fa-tools.product__icon.icon
                                                    p Affiliate tools
                                                li.product__info--item 
                                                    i.fa-solid.fa-link.product__icon.icon
                                                    p Unique Link
                                                li.product__info--item 
                                                    i.fa-regular.fa-square-check.product__icon.icon
                                                    p Approved
                                                -if(product.recurringCommission)
                                                    li.product__info--item 
                                                        i.fa-solid.fa-rotate.product__icon.icon
                                                        p Recurring
                                                

                                    .product__side--right
                                        span.product__commission
                                            p.commision avg commission 
                                            span.commission__amount= `₦ ${product.price}`
                                        a.btn.product__button.promote(data-productSlug=product.slug) Promote
                                        //- -console.log(product.slug)
                                        a.product__button.page(target="_blank" href=`/marketplace/${product.slug}`) affiliate page



                                figure.product__card-mobile
                                    .product__side.front(class=`${product.isPromoted ? 'promoted-m' : ''}`)    
                                        .front--top
                                            .product__image--container
                                                img.product__image(src='../../asset/img/product.jpg' alt=product.name)
                                            .product__heading 
                                                h2.product__title= product.name
                                                button.produt__message-m.person(data-vendorId=`${product}`)
                                                    i.fa-solid.fa-envelope.icon.product__icon
                                                    
                                                .product__content
                                                    h4.product__description #{product.summary}...
                                                    a.product__button.page.margin__bottom--xsm(target="_blank" href=`/marketplace/${product.slug}`) affiliate page
                                        .front--bottom
                                            ul.product__info
                                                //- each icon in product.others
                                                
                                                li.product__info--item 
                                                    i.fa-solid.product__icon.icon(class=`${product.type !== 'Digital' ? 'fa-truck-fast' : 'fa-file'}`)
                                                    p= `${product.type} Product`
                                                li.product__info--item 
                                                    i.fa-solid.fa-tools.product__icon.icon
                                                    p Affiliate tools
                                                li.product__info--item 
                                                    i.fa-solid.fa-link.product__icon.icon
                                                    p Unique Link
                                                li.product__info--item 
                                                    i.fa-regular.fa-square-check.product__icon.icon
                                                    p Approved
                                                -if(product.recurringCommission)
                                                    li.product__info--item 
                                                        i.fa-solid.fa-rotate.product__icon.icon
                                                        p Recurring
                                                
                                                        
                                                

                                    .product__side.back
                                        .link--box
                                            h2.dashboard__heading Generate HopLink
                                            p.hoplink__text  Earn commission for every customer you refer to this product using your personalized affiliate hoplink.
                                            form.hoplink-form.hoplink-mobile(data-productSlug-mobile=product.slug)
                                                .hoplink__body
                                                    input.hoplink__input.hoplink-username-mobile(type='text' placeholder='Username' required)
                                                    p.hoplink__body--text Required
                                                .hoplink__body
                                                    input.hoplink__input.hoplink-trackingid-mobile(type='text' placeholder='Tracing Id')
                                                    p.hoplink__body--text Optional
                                                button.btn.hoplink__submit(type='submit') Generate Hoplink

                                
                    .hoplink__overlay.get__overlay.hidden
                    .hoplink__modal.get__modal.hidden
                        i.fa-solid.fa-close.icon.hoplink__icon
                        h2.dashboard__heading Generate HopLink
                        p.hoplink__text Earn commission for every customer you refer to this product using your personalized affiliate hoplink.
                        form.hoplink#hoplink
                            .hoplink__body
                                input.hoplink__input#hoplink-username(type='text' required='' placeholder='Username')
                                p.hoplink__body--text Required
                            .hoplink__body
                                input.hoplink__input#hoplink-trackingid(type='text' placeholder='Tracing Id')
                                p.hoplink__body--text Optional
                            button.btn.hoplink__submit.submit(type='submit') Generate Hoplink


                .hoplink__overlay.copy__overlay.hidden
                    .hoplink__modal.copy__modal.hidden
                        h2.dashboard__heading Copy HopLink
                        p.hoplink__text Paste this URL into your promotional materials.
                        p.hoplink__copy https://clubmerce.com
                        
                        .flexible
                            button.btn.hoplink__submit.btnModalOk Ok
                            button.hoplink__copy-button.outline Copy
        

            .chat__box.hidden
                .chat-top
                    p.chat-name Idowu Olatunji
                    .chat-top__icons
                        i.fa-solid.fa-gear.chat-icon
                        i.fa-solid.fa-close.chat-icon
                .chat-mid
                    //- .chat-mid__from.main
                        .img-box
                            img.chat-img.from-img(src='asset/img/face.png' alt='')
                        .chat
                            p.chat-from__point
                                span ~&nbsp;
                                | Idowu Olatunji
                            p.chat-date 8:30
                            p.chat-from__message Lorem ipsum dolor sit amet consectetur adipisicing elit. Repellendus, illo?
                    //- .chat-mid__me.main
                        .img-box
                            img.chat-img.from-img(src='asset/img/avatar.png' alt='')
                        .chat
                            p.chat-me__point
                                span ~&nbsp;
                                | Me
                            p.chat-date 17:10
                            p.chat-me__message Lorem ipsum dolor sit amet consectetur adipisicing elit. Repellendus, illo?
                .chat-end
                    .chat-end__chat
                        form.chat__form
                            input.chat-end__input(type='text' placeholder='Type your message')
                            button.chat__button(type='submit')
                                i.fa-solid.fa-arrow-right.chat-icon
                    .chat-end__controls
                        i.fa-solid.fa-paperclip.chat-icon
                        i.fa-regular.fa-face-smile.chat-icon
        
            
            include _auth_footer
