DOCTYPE
html(lang="en")

head
    meta(charset="UTF-8")
    meta(http-equiv="X-UA-Compatible" content="IE=edge")
    meta(name="viewport" content="width=device-width, initial-scale=1.0")

    link(rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css" integrity="sha512-iecdLmaskl7CVkqkXNQ/ZH/XLlvWZOJyj7Yy7tcenmpD1ypASozpmT/E0iPtmFIB46ZmdtAc9eNBvH0H/ZpiBw==" crossorigin="anonymous" referrerpolicy="no-referrer")
    //- link(rel="icon" href='../asset/img/favicon.png')


    //- STYLES 
    link(rel="stylesheet" href="/src/css/general.css")
    link(rel="stylesheet" href="/src/css/dashboard.css")
    link(rel="stylesheet" href="/src/css/productPage.css")

    title=title
body

    section.hero-section
        .slide-container
            each image, index in ["watch.jpg", "secondwatch.png", "thirdwatch.png", "fourthwatch.png"]
                .slide(class=`${index === 0 ? '' : 'four'}`)
                    img.watch-border(src=image, alt="" style="width: 100%;")
            a.prev(onclick="plusSlides(-1)") &#10094;
            a.next(onclick="plusSlides(1)") &#10095;
        .row
            each image in ["watch.jpg", "secondwatch.png", "thirdwatch.png", "fourthwatch.png"]
                .column
                    img.watchs.cursor(src=image, style="width: 100%;", onclick=`currentSlide(${index + 1})`, alt="")

        .watch-text
            h1.first-text Latest iWatch
            p.second-text Lorem ipsum dolor sit, amet consectetur adipisicing elit. Ipsa, iste nemo. Aliquam, eos architecto! Ducimus, rem illo praesentium voluptate quis consectetur alias tempora corrupti, magni mollitia voluptatibus pariatur ipsam, eveniet numquam fugit itaque asperiores et! Animi quas libero non. Laborum nulla omnis molestiae recusandae, in neque blanditiis, maiores provident possimus nobis dignissimos pariatur ipsam tenetur, culpa ad! Eaque itaque suscipit dignissimos doloremque consequatur, voluptas maiores minus expedita atque aspernatur nam deserunt. Temporibus corrupti quis quasi eos possimus necessitatibus velit iure!

    section.video
        iframe(width="914", height="514", src="https://www.youtube.com/embed/EvnQ4Va-4Cg", title="How To Use Your Apple Watch Series 7! (Complete Beginners Guide)", frameborder="0", allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share", allowfullscreen)

    section.about
        .about-container
            .about-text Lorem, ipsum dolor sit amet consectetur adipisicing elit. Ullam, molestias mollitia. Aliquid, fuga dignissimos earum suscipit neque ipsa eos ex dolorum consectetur repellat officia illum aspernatur alias inventore corrupti doloremque magnam possimus ipsam vel atque! Iure alias vel officia quibusdam! Iste ex doloribus ipsum eveniet veniam optio possimus laboriosam porro veritatis hic iure corrupti illo maxime rem, quis est tenetur quos vero corporis animi dolor debitis ut! Aut a officiis repellendus. Maiores quo id explicabo corporis aperiam placeat voluptatibus at? Lorem ipsum, dolor sit amet consectetur adipisicing elit. Vero sapiente quidem alias explicabo blanditiis deleniti rerum iure quasi! Quis totam ad dolorum voluptatem doloremque quam corrupti explicabo molestias quisquam nostrum, aut aperiam deleniti qui sequi aliquam nulla delectus facilis? Optio est cumque fugit minima. Voluptatibus eius numquam eligendi cum laborum possimus explicabo, quis illo aspernatur molestias at veniam reprehenderit temporibus quisquam. Laboriosam modi alias distinctio praesentium inventore ducimus ipsum ut. Eaque nulla repellat a consectetur cumque quidem maiores in eligendi.
            .about-image
                img(src="watch.jpg", alt="")

    section.product-card
        .product-card-container
            each image, index in ["png-watch3.png", "png-watch2.png", "png-watch.png"]
                .product-card-one
                    h2 Basic
                    img(src=image, alt="" style="width: 100%;")
                    .product-grid
                        p.dollar $100
                        p per
                        br
                        p watch
                    button.buy-now-button
                        a.buy-now(href="checkout.html")
                            i.fa-solid.fa-cart-shopping
                            |  Buy Now
                    .icon-containers
                        i.fa-brands.fa-cc-visa(style="color: navy;")
                        i.fa-brands.fa-cc-amex(style="color: blue;")
                        i.fa-brands.fa-cc-mastercard(style="color: red;")
                        i.fa-brands.fa-cc-discover(style="color: orange;")
                    p.card-base
                        span.line-through $200
                        |  $100
                        br
                        |  +Shipping
                        br
                        |  180 days Guarantee

