DOCTYPE
html(lang="en")

head
    meta(charset="UTF-8")
    meta(http-equiv="X-UA-Compatible" content="IE=edge")
    meta(name="viewport" content="width=device-width, initial-scale=1.0")

    link(rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css" integrity="sha512-iecdLmaskl7CVkqkXNQ/ZH/XLlvWZOJyj7Yy7tcenmpD1ypASozpmT/E0iPtmFIB46ZmdtAc9eNBvH0H/ZpiBw==" crossorigin="anonymous" referrerpolicy="no-referrer")
    link(rel="icon" href='/asset/img/favicon.png')


    //- STYLES 
    link(rel="stylesheet" href="/src/css/general.css")
    link(rel="stylesheet" href="/src/css/main.css")
    link(rel="stylesheet" href="/src/css/dashboard.css")
    link(rel="stylesheet" href="/src/css/chat.css")
    link(rel="stylesheet" href="/src/css/order_and_payment.css")
    link(rel="stylesheet" href="/src/css/query_dashboard.css")


    script(defer src="/src/js/paymentAndOrder.js")
    //- script(defer src="/src/js/chat.js")
    script(defer src="/src/js/dashboard.js")
    script(src="https://js.paystack.co/v2/inline.js")

    -if(!token)
        script(type='text/javascript').
            var Tawk_API=Tawk_API||{}, Tawk_LoadStart=new Date();
            (function(){
                var s1=document.createElement("script"),s0=document.getElementsByTagName("script")[0];
                s1.async=true;
                s1.src='https://embed.tawk.to/64e23766cc26a871b03054a8/1h89qgrqn';
                s1.charset='UTF-8';
                s1.setAttribute('crossorigin','*');
                s0.parentNode.insertBefore(s1,s0);
            })();

    title=title
body

    #spinOverlay
        .spin
            div
            div
            div
            div
            div
            div
            div
            div
            div
            div
    section
        .section__top.margin__left--sm
            img.logo(src='/asset/img/logo-removebg.png' alt='clubmerce logo')
            img.logo-small(src='/asset/img/favicon.png' alt='clubmerce logo')
            nav.navbar
                span.nav__icons
                    span.shop-cart
                        i.fa-solid.fa-shopping-cart.icon.nav__icon.shopping-cart(data-digits=0)
                    .shopping__cart.hidden
                        h4.dashboard__heading.checkout__heading Cart
                        .checkout__box
                            //- this is where we add the elements
                        .checkout__box--controls
                            span.checkout__box--controls-info
                                p Sub Total
                                span.total-checkout ₦0
                            .controls
                                button.order__checkout--button Proceed to checkout


                    -if(token)
                        span
                            .nav__image--box
                                img.nav__image(src=`/asset/img/users/avatar.png` alt='user image')
                                .Profile__hovered.profile-resized.hidden
                                    .profile__content
                                        //- .profile__owner
                                            img.profile__image(src=`/asset/img/users/avatar.png` alt=`customer's photo`)
                                            //- p.profile__name user.fullName
                                            p.profile__name 
                                        a.profile__link.nav__link(href="/buyers/dashboard") Dashboard
                                        a.profile__link.nav__link(href="/buyers/profile") My profile
                                        //- button.profile__button.nav__link#logout signout&nbsp;
                                            i.fa-solid.fa-arrow-right-to-bracket.profile__icon


                    -else
                        ul
                            li.nav__item
                                a.nav__link.nav-login(href="/buyers/login") login  
                            li.nav__item
                                a.nav__link.nav__button.nav-sign(href="/buyers/signup") signup

                    

    //- h3.dashboard__heading
        a.go-back(href="/dashboard") 
            i.fa-solid.fa-arrow-left.font-size-sm-help.margin__r-help 
        | Dashboard


    section.hero-section.container
        .img-container
            .main-image
                img(src=`/asset/img/products/${product.image}` alt='product image')
            .sub--images
                -if(product.subImage || product.subImages.length < 1)
                    .sub-image
                        img(src=`/asset/img/products/${product.image}` alt='product image')
                        
                        
                -else
                    each subImage of product.subImages
                        .sub-image
                            img(src=`/asset/img/products/${subImage}` alt='product image')
                

        .hero-heading
            h1.primary-heading.dashboard__heading= product.name
            p.secondary-heading #{product.summary}
            span.product__info
                p.product__price ₦#{product.price}
                span.quantity.product__quantity
                    button(onclick='changeQuantity(-1)') &minus;
                    p#quantityNumber 1 
                    button(onclick='changeQuantity(1)') &plus;
                    script.
                        const quantityDisplay = document.getElementById('quantityNumber');

                        function changeQuantity(change) {
                            let currentQuantity = parseInt(quantityDisplay.textContent);
                            currentQuantity += change;
                            if (currentQuantity >= 1 && currentQuantity <= 5) {
                                quantityDisplay.textContent = currentQuantity;
                            }
                        }
            button.card-button(data-product=product) Add to Cart
                i.fa-solid.fa-shopping-cart
            
        


    //- Youtube Video
    section.video-section.container
        .video
            //- #{product.video}
            <iframe src="https://www.youtube.com/embed/FJsGxP6f9xs?si=V2ndVxBeFeUz4b8W" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
            



    //- Product description
    section.about-section
        .about-container.container
            span
                p.secondary-heading #{product.description}
                button.card-button(data-product=product) Add to Cart
                    i.fa-solid.fa-shopping-cart
            .about-image
                img(src='/asset/img/products/product-default.png' alt='product image')
    


    //- Purchase
    //- section.purchase-section
        .purchase-container.container
            .purchase-cards
                .purchase-card
                    .card-heading
                        p Buy 1
                    .card-content
                        .card-image-box
                            img(src='/asset/img/products/product-default.png' alt='order product image')
                        span.card-price
                            p.price ₦100
                            p.text x 1
                        button.card-button(data-amount="1")
                            i.fa-solid.fa-shopping-cart
                            |  Order Now
                        ul.card-details
                            li Plus Shipping
                            li 30 days Garantee
                //- .purchase-card.active-card
                    .card-heading
                        p Buy 3
                    .card-content
                        .card-image-box
                            img(src='/asset/img/products/product-default.png' alt='order product image')
                        span.card-price
                            p.price ₦100
                            p.text  x 3
                        button.card-button(data-amount="3")
                            i.fa-solid.fa-shopping-cart
                            |  Order Now
                        ul.card-details
                            li Plus Shipping
                            li 30 days Garantee
                //- .purchase-card
                    .card-heading
                        p Buy 5
                    .card-content
                        .card-image-box
                            img(src='/asset/img/products/product-default.png' alt='order product image')
                        span.card-price
                            p.price ₦100
                            p.text  x 5
                        button.card-button(data-amount="5")
                            i.fa-solid.fa-shopping-cart
                            |  Order Now
                        ul.card-details
                            li Plus Shipping
                            li 30 days Garantee

    -if(token)
        button.chat__box-toggler
            span.material-symbols-rounded
                i.fa-solid.fa-comment
                | Chat
            span.material-symbols-outlined
                i.fa-solid.fa-close


        .chat__box
            .chat-head
                i.fa-solid.fa-arrow-left.btn-back 
                p.chat-person From Admin
                span.close-btn.material-symbols-outlined close
            //- .chat-head-chat
                p.chat-heading Chats ✉
                span.close-btn.material-symbols-outlined close
            ul.chat__box--chat
                li.chat.incoming
                    p Coming Soon...
            .chat-input
                textarea(placeholder='Enter a message...' spellcheck='false' required='')
                span#send-btn.material-symbols-rounded send




    .checkout__overlay.hidden
        .checkout__modal
            i.fa-solid.fa-close.icon.close__checkout
            h3.dashboard__heading.checkout__heading Checkout
            span.checkout__info--box
                //-  
            form.checkout__form#order-checkout(data-user=user)
                span
                    h3.dashboard__heading Form info
                    p.sumTotal N2000
                .form__item
                    label.form__label(for='email') Email address
                    input#email.form__input(type='email' placeholder='Email address' required)
                
                .form__item
                    label.form__label(for='fullname') Fullname
                    input#fullname.form__input(type='text' placeholder='Full Name' required)
                .form__item
                    button.form__button(type='submit') Proceed


    include _auth_footer
