extends base_account 

block content 


    -if(user.role === 'affiliate')
        h3.dashboard__heading My Performance

        section.vendor__dashboard
            .dashboard__table
                .table.table-app
                    .table-title
                        h4.table-heading Affiliate Performance
                    .table-head-app
                        span.table-head-content Product
                        span.table-head-content commission
                        span.table-head-content Link purchase
                        span.table-head-content link clicks
                        span.table-head-content promotion link
                    .table-row-app
                        span.table-row-content.table-row-product
                            img.table-product__image(src='asset/img/product.jpg' alt='')
                            span
                                p.table-product__name Test product 1
                                p.table-product__category health &amp; fitness
                        span.table-row-content
                            mmission $&nbsp;230
                        span.table-row-content
                            p.purchase 4
                        span.table-row-content
                            p.click 20
                        span.table-row-content
                            p.promotion 1

    
    -if(user.role === 'vendor')
        h3.dashboard__heading My product perfomance
        section.vendor__dashboard
            .dashboard__table
                .table.table-vpp
                    .table-title
                        h4.table-heading Products Perfomance
                    .table-head-vpp
                        span.table-head-content Product
                        span.table-head-content purchases
                        span.table-head-content order
                        span.table-head-content profit
                        span.table-head-content Aff gravity
                        span.table-head-content Clicks

                    - if(products.lenght < 1 || !products)
                        .table-row-message
                            //- p.note-no Upload your product today, Let out affiliate make you money.
                            p.note-no You have no existing product.
                    each product of products
                        .table-row-vpp
                            span.table-row-content.table-row-product
                                img.table-product__image(src='asset/img/product.jpg' alt='')
                                span
                                    p.table-product__name= product.name
                                    p.table-product__category= product.product__category
                            span.table-row-content
                                p.purchase= product.purchasesCount
                            span.table-row-content
                                p.order= product.ordersCount
                            span.table-row-content
                                p.profit= ₦`${product.profits}`
                            span.table-row-content
                                p.aff-gravity= product.productGravity
                            span.table-row-content
                                p.click= product.clicks
