extends base_account 

block content 
    h3.dashboard__heading My product dashboard
    section.vendor__dashboard
        .dashboard__table
            //- manage products 
            .table.table-vp
                .table-title
                    h4.table-heading Manage Products
                    button.add-btn.table-btn Add new product
                .table-head-vp
                    span.table-head-content Product
                    span.table-head-content price
                    span.table-head-content Type
                    span.table-head-content Aff. commission
                    span.table-head-content approved
                    span.table-head-content actions

                - if(products.lenght < 1)
                    .table-row-message
                        //- p.note-no Upload your product today, Let out affiliate make you money.
                        p.note-no You have no existing product.
                each product of products
                    .table-row-vp(class=`${product.isPromoted ? 'prmoted-small' : ''}`)
                        span.table-row-content.table-row-product
                            img.table-product__image(src=`asset/img/product.jpg` alt='')
                            span
                                p.table-product__name= product.name 
                                p.table-product__category= product.category 
                        span.table-row-content
                            p.price= `₦ ${product.price}` 
                        span.table-row-content
                            //- -if(product.type)
                            p.product-type= `${product.type} product` 
                        span.table-row-content
                            p.aff-comm= `${product.commissionPercentage}%` 
                        span.table-row-content
                            p.approved.status.status--success Approved
                        span.table-row-content.table-row-btn
                            button.btn-edit.table-btn.product-edit(data-id=`${product._id}`) Edit
                            button.btn-delete.table-btn.product-delete(data-id=`${product._id}`) Delete
               




    .generic__overlay.product__overlay.hidden
        .generic__modal.product__modal.hidden
            i.fa-solid.fa-close.icon.form__close-icon
            h3.dashboard__heading Add new product
            form.product__form
                .form__body-generic
                    label.form__label(for='product__name') Product Name
                    input#product__name.form__input(type='text' name='product__name' required='' placeholder='Product name')
                //-  product image here 
                .form__body-generic
                    label.form__label(for='product__summary') Product Summary
                    textarea#product__summary.form__input(style='height: 6rem;' type='text' name='product__summary' required='' placeholder='Product Summary (not more than 120 characters)')
                .form__body-generic
                    label.form__label(for='product__description') Product Description
                    textarea#product__description.form__input(style='height: 15rem;' type='text' name='product__description' required='' placeholder='Product Description')
                .form__grid-generic
                    .form__body-generic
                        label.form__label(for='product__price') Product Price
                        input#product__price.form__input(type='text' name='product__price' required='' placeholder='Product price (NGN)')
                    .form__body-generic
                        label.form__label(for='product__commission') Product Commission
                        input#product__commission.form__input(type='text' name='product__commission' required='' placeholder='Product Commission in (%)')
                .form__grid-generic
                    .form__body-generic
                        label.form__label(for='product__type') Product Type
                        select#product__type.form__select(name='product__type')
                            option(value='physical') Physical Product
                            option(value='digital') Digital Product
                    .form__body-generic
                        label.form__label(for='product__category') Product Category
                        select#product__category.form__select(name='product__category')
                            option(value='physical') All categories
                .form__grid3-generic
                    .form__body-generic
                        label.form__label(for='product__tools') Affiliate Tools
                        input#product__tools.form__input(type='checkbox' name='product__tools')
                    .form__body-generic
                        label.form__label(for='product__link') Product Unique Url
                        input#product__link.form__input(type='checkbox' name='product__link')
                    .form__body-generic
                        label.form__label(for='product__recurring') Recurring Commissions
                        input#product__recurring.form__input(type='checkbox' name='product__recurring')
                .product__sub-images
                    p.form__label.photo-head Product sub images (Max of 6) upload
                    .sub-images
                        //- img.sub-image.sub-image1(src='asset/img/img-temp.png' alt='product sub image')
                        img.sub-image.sub-image1(src='asset/img/product.jpg' alt='product sub image')
                        img.sub-image.sub-image2(src='asset/img/product.jpg' alt='product sub image')
                        img.sub-image.sub-image3(src='asset/img/product.jpg' alt='product sub image')
                        img.sub-image.sub-image4(src='asset/img/product.jpg' alt='product sub image')
                        img.sub-image.sub-image5(src='asset/img/product.jpg' alt='product sub image')
                    
                a.btn-upload.btn__image-upload(href='') Upload new image


                //-  three min and six max image
                //-  four max banner
                .product__banners
                    p.form__label.photo-head Product banner (Max of 4) upload
                    .banners
                        img.banner.banner1(src='asset/img/banner1.jpg' alt='product sub image')
                        img.banner.banner2(src='asset/img/banner2.jpg' alt='product sub image')
                        img.banner.banner3(src='asset/img/banner3.jpg' alt='product sub image')
                        img.banner.banner4(src='asset/img/banner4.jpg' alt='product sub image')

                    a.btn-upload.btn__banner-upload(href='') Upload banner
                button.btn.form__submit.form__submit-generic(type="submit") Add product
    

    .generic__overlay.product-update__overlay.hidden
        .generic__modal.product-update__modal
            i.fa-solid.fa-close.icon.form-update__close-icon
            h3.dashboard__heading Update product
            form.product__form-update
                .form__body-generic
                    label.form__label(for='product__name') Product Name
                    input#product-update__name.form__input(type='text' name='product__name' required='' placeholder='Product name')
                //-  product image here 
                .form__body-generic
                    label.form__label(for='product__summary') Product Summary
                    textarea#product-update__summary.form__input(style='height: 6rem;' type='text' name='product__summary' required='' placeholder='Product Summary (not more than 120 characters)')
                .form__body-generic
                    label.form__label(for='product__description') Product Description
                    textarea#product-update__description.form__input(style='height: 15rem;' type='text' name='product__description' required='' placeholder='Product Description')
                .form__grid-generic
                    .form__body-generic
                        label.form__label(for='product__price') Product Price
                        input#product-update__price.form__input(type='text' name='product__price' required='' placeholder='Product price (NGN)')
                    .form__body-generic
                        label.form__label(for='product__commission') Product Commission
                        input#product-update__commission.form__input(type='text' name='product__commission' required='' placeholder='Product Commission in (%)')
                .form__grid-generic
                    .form__body-generic
                        label.form__label(for='product__type') Product Type
                        select#product-update__type.form__select(name='product__type')
                            option(value='physical') Physical Product
                            option(value='digital') Digital Product
                    .form__body-generic
                        label.form__label(for='product__category') Product Category
                        select#product-update__category.form__select(name='product__category')
                            option(value='physical') All categories
                .form__grid3-generic
                    .form__body-generic
                        label.form__label(for='product__tools') Affiliate Tools
                        input#product-update__tools.form__input(type='checkbox' name='product__tools')
                    .form__body-generic
                        label.form__label(for='product__link') Product Unique Url
                        input#product-update__link.form__input(type='checkbox' name='product__link')
                    .form__body-generic
                        label.form__label(for='product__recurring') Recurring Commissions
                        input#product-update__recurring.form__input(type='checkbox' name='product__recurring')
                .product__sub-images
                    p.form__label.photo-head Product sub images (Max of 6) upload
                    .sub-images
                        //- img.sub-image.sub-image1(src='asset/img/img-temp.png' alt='product sub image')
                        img.sub-image.sub-image1(src='asset/img/product.jpg' alt='product sub image')
                        img.sub-image.sub-image2(src='asset/img/product.jpg' alt='product sub image')
                        img.sub-image.sub-image3(src='asset/img/product.jpg' alt='product sub image')
                        img.sub-image.sub-image4(src='asset/img/product.jpg' alt='product sub image')
                        img.sub-image.sub-image5(src='asset/img/product.jpg' alt='product sub image')
                    input.form__upload(type='file', accept='image/*', id='photo', name='photo')
                    label.btn-text(for='photo') Choose new photo
                    
                //- a.btn-upload.btn__image-upload(href='') Upload new image


                //-  three min and six max image
                //-  four max banner
                .product__banners
                    p.form__label.photo-head Product banner (Max of 4) upload
                    .banners
                        img.banner.banner1(src='asset/img/banner1.jpg' alt='product sub image')
                        img.banner.banner2(src='asset/img/banner2.jpg' alt='product sub image')
                        img.banner.banner3(src='asset/img/banner3.jpg' alt='product sub image')
                        img.banner.banner4(src='asset/img/banner4.jpg' alt='product sub image')

                    a.btn-upload.btn__banner-upload(href='') Upload banner
                button.btn.form__submit.form__submit-generic(type="submit") Add product
       
    