DOCTYPE
html(lang="en")

head
    meta(charset="UTF-8")
    meta(http-equiv="X-UA-Compatible" content="IE=edge")
    meta(name="viewport" content="width=device-width, initial-scale=1.0")

    link(rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css" integrity="sha512-iecdLmaskl7CVkqkXNQ/ZH/XLlvWZOJyj7Yy7tcenmpD1ypASozpmT/E0iPtmFIB46ZmdtAc9eNBvH0H/ZpiBw==" crossorigin="anonymous" referrerpolicy="no-referrer")
    link(rel="icon" href="../asset/img/favicon.png" type="image/png")


    //- STYLES 
    link(rel="stylesheet" href="/src/css/general.css")
    link(rel="stylesheet" href="/src/css/dashboard.css")
    link(rel="stylesheet" href="/src/css/productPage.css")
    link(rel="stylesheet" href="/src/css/query_dashboard.css")

    script(defer src="/src/js/hoplink.js")


    title=title
body
    #spinOverlay
        .spin
            div
            div
            div
            div
            div
            div
            div
            div
            div
            div
    header.product__header
        .product__logo
            //- p #{product.vendor.businessName}
            img.p-logo(src=`${ product.vendor.image !== 'avatar.png' ? `/asset/img/users/${product.vendor.image}` : `/asset/img/products/${product.image}`}` alt='brand product logo')
        nav.product__nav
            ul.product__nav--list
                li.product__nav--item
                    a.product__nav--link(href='#why') Why Promote
                li.product__nav--item
                    a.product__nav--link(href='#link') Generate Link
                li.product__nav--item
                    a.product__nav--link(href='#img') Images
                li.product__nav--item
                    a.product__nav--link(href='#demo') Demography
                li.product__nav--item
                    a.product__nav--link(href='#banner') Promotion banner
                li.product__nav--item
                    a.product__nav--link(href='#contact') Contact seller
    section.product__section.intro__section
        .product__section--container
            
            .product__intro
                h1.product__heading Introducing 
                    span.dashboard__heading= product.name
                p.product__intro-text=`Get ready to earn massive ${product.commissionPercentage}% commission with this extraordinary new ${product.niche} offer...`
                p.product__intro-text Get everything you need to start promoting today!
                .product__image
                    img.product__img(src=`/asset/img/products/${product.image}` alt='product__image')
                .product__description
                    h2.product__heading--sec=`What is ${product.name}?`
                    span.description__text
                        span.description__topic=product.name 
                        | &nbsp; #{product.description}

    section#why.product__section.why-you-should-promote__Section
        .product__section--container
            h2.product__heading--sec=`Why You Should Promote ${product.name}?`
            .why-card__box
                .why-card
                    i.fa-solid.fa-coins.p-icon
                    h3.why-heading Massive payout
                    p.why-text=`You get ${product.commissionPercentage}% commission each time someone buys our products via your Affiliate Link.`
                .why-card
                    i.fa-solid.fa-users.p-icon
                    h3.why-heading Massive market audience
                    p.why-text With a massive market audience at your fingertips, your earning potential is unlimited
                .why-card
                    i.fa-solid.fa-tools.p-icon
                    h3.why-heading Affiliate promotion tool
                    p.why-text No need to use multiple, over complicated sales tatics, everything you need for your complete sales funnel is here in one user-friendly dashboard
                .why-card
                    i.fa-solid.p-icon(class=`${product.type !== 'Digital' ? 'fa-truck-fast' : 'fa-file'}`)
                    h3.why-heading= `Approved ${product.type} Product`
                    p.why-text #{product.type !== 'Digital' ? 'Join our Approved Physical Product affiliate program and tap into a lucrative income stream.' : 'Unlock remarkable earning opportunities with our Approved Digital Product affiliate program.'}
                -if(product.recurringCommission)
                    .why-card
                        i.i.fa-solid.fa-rotate.p-icon
                        h3.why-heading reccuring payment
                        p.why-text With our subscription-based model, you can enjoy continuous earnings as long as your referred customers remain active subscribers.
    section#link.product__section.section__get-link
        .product__section--container
            .link--box
                h2.dashboard__heading Generate HopLink
                p.hoplink__text  Earn commission for every customer you refer to this product using your personalized affiliate hoplink.
                form.hoplink-form
                    .hoplink__body.margin__bottom--xsm.margin__top--none
                        input.hoplink__input.hoplink-username(type='text' value=user.username required)
                        p.hoplink__body--text Required
                    //- .hoplink__body
                        input.hoplink__input.hoplink-trackingid(type='text' placeholder='Tracing Id')
                        p.hoplink__body--text Optional
                    button.btn.hoplink__submit(type='submit') Generate Hoplink
    section#img.product__section.section__images
        .product__section--container
            h2.product__heading--sec product images
            p.description__text You are permitted to use the following imagery in your promotions. You are not allowed to use any imagery found on this website aside from that detailed below. Click to open the image in a new window then right-click &quot;Save Image As&quot; to save to your computer.
            .images__box
                -const productSubImages = product.subImages
                each productSubImage of productSubImages
                    //- a(href=`http://127.0.0.1:3000/asset/img/products/${productSubImage}` target='_blank')
                    a(href=`https://clubmerce.com/asset/img/products/${productSubImage}` target='_blank')
                        img(src=`/asset/img/products/${productSubImage}` alt='product subimage')
                    
    section#demo.product__section.section__demography
        .product__section--container
            h2.product__heading--sec Demography
            .demo-grid
                .demo-card
                    .demo-head
                    i.fa-solid.fa-icon.demo-icon
                    p.demo-heading Age
                    p.demo-text Primary: #{product.primaryAgeRange === '' ? product.primaryAgeRange : 'Everyone'} Secondary: #{product.secondaryLocation === '' ? product.secondaryLocation : 'None'}
                .demo-card
                    .demo-head
                    i.fa-solid.fa-icon.demo-icon
                    p.demo-heading Gender
                    p.demo-text Primary: #{product.primaryGender === '' ? product.primaryGender : 'Every Age Group'} Secondary: #{product.secondaryGender === '' ? product.secondaryGender : 'None'}
                .demo-card
                    .demo-head
                    i.fa-solid.fa-icon.demo-icon
                    p.demo-heading Location
                    p.demo-text Primary: #{product.primaryLocation === '' ? product.primaryLocation : 'Everywhere'}, Secondary: #{product.secondaryAgeRange === '' ? product.secondaryAgeRange : 'None'}
                .demo-card
                    .demo-head
                    i.fa-solid.fa-icon.demo-icon
                    p.demo-heading Traffic type
                    p.demo-text We convert and have affiliates successfully making industry-leading ROIs all traffic types such as #{product.socialMeadialPlaces === ''  ? product.socialMeadialPlaces : 'Facebook, Whatsapp'} and more!
    section#banner.product__section.section__banner
        .product__section--container
            h2.product__heading--sec Product banners
            p.description__text Feel free to use the following eye-catching banners for your promotions. These banners are designed to complement the product and capture the attention of your audience. 
            .banner__box
                -const productBanners = product.banners;
                each productBanner of productBanners
                    a(href=`https://clubmerce.com/asset/img/banners/${productBanner}` target='_blank')
                        img(src=`/asset/img/banners/${productBanner}` alt='product banner image')
                    
    section#contact.product__section.section__contact-seller
        .product__section--container
            h2.product__heading--sec Contact Seller
            p.description__text If you need anything else, Email us: 
                i.fa-solid.fa-envelope.product-footer-icon &nbsp;|&nbsp;
                
                -if(product.contactEmail)
                    a.email(href=`mailto:${product.contactEmail}`) #{product.contactEmail}
                -else
                    span.email admin@clubmerce.com
                |  and we will assist you as soon as possible. We look forward to working with you.


    .hoplink__overlay.copy__overlay.hidden
        .hoplink__modal.copy__modal
            h2.dashboard__heading Copy HopLink
            p.hoplink__text Paste this URL into your promotional materials.
            p.hoplink__copy https://clubmerce.com
            
            .flexible
                button.btn.hoplink__submit.btnOk Ok
                button.hoplink__copy-button.outline Copy

    include _auth_footer
