extends base_account 

block content 
    -if(user.role === 'affiliate' || user.role === 'buyer')
        h3.dashboard__heading Your Profile


        form.form__data.form-image-data
            //- .form__photo-upload
                //- img.form__user-photo(src=`${user.image}` alt='User photo')
                //- input.form__upload(type='file', accept='image/*', id='photo', name='photo')


            #uploader__image--card
                img#uploader__image.uploader__image(src=`/asset/img/users/${user.image}` alt=`${user.image}`)
                #uploader__image--label-box
                    input#uploader__image--input.user-profile-image(name='image' type='file' accept='image/*')
                    label#uploader__image--label(for='uploader__image--input')
                        i.fa-solid.fa-camera
                        |  Add photo
            p#uploader__image--username= user.fullName
            button.img__upload--btn.btn(type="submit") Upload image

        form.form__data.form-profile-data#form-data
            h3.dashboard__heading Update profile info
            .form__item
                label.form__label(for='fullName') Full name
                input#fullName.form__input(type='text', value=user.fullName)
            .form__item
                label.form__label(for='email') Email address
                input#email.form__input.disable(type='email' value=user.email readonly disable)
            .form__item
                label.form__label(for='phone') Phone number
                input#phone.form__input(type='tel' value=user.phone placeholder="Enter a phone number")
            .form__item
                label.form__label(for='country') Country
                input#country.form__input(type='country' value=user.country placeholder="Enter a country")
            .form__item
                label.form__label(for='state') State
                input#state.form__input(type='state' value=user.state placeholder="Enter a state")
            .form__item
                label.form__label(for='city-region') City / Province / Region
                input#city-region.form__input(type='city-region' value=user.region placeholder="Enter a city / region")
            .form__item
                label.form__label(for='zip-postal') Zip code / Postal code
                input#zip-postal.form__input(type='number' name='zip-postal' value=user.zipCode placeholder="Enter a zip code")
            .form__item
                button.btn.form-btn(type="submit") Save settings


    -if(user.role === 'vendor')
        h3.dashboard__heading Your Profile

        form.form__data.form-image-data
            //- .form__photo-upload
                //- img.form__user-photo(src=`${user.image}` alt='User photo')
                //- input.form__upload(type='file', accept='image/*', id='photo', name='photo')

            #uploader__image--card(class=`${user.role === 'vendor' && user.vendorAccountType === 'free' ? 'profileType free' : user.role === 'vendor' && user.vendorAccountType === 'standard' ? 'profileType standard' : user.role === 'vendor' && user.vendorAccountType === 'premium' ? 'profileType premium' : '' }`)
                img#uploader__image(src=`/asset/img/users/${user.image}` alt='')
                #uploader__image--label-box
                    input#uploader__image--input.user-profile-image(name='photo' type='file' accept='image/png, image/jpeg')
                    label#uploader__image--label(for='uploader__image--input')
                        i.fa-solid.fa-camera
                        |  Add image
            p#uploader__image--username= user.businessName
            button.img__upload--btn.btn(type="submit") Upload brand logo


        form.form__data.form-profile-data#form-data-vendor
            h3.dashboard__heading Update profile info
            .form__item
                label.form__label(for='businessName') Brand name
                input#businessName.form__input.disable(readonly disable type='text', value=user.businessName placeholder="Enter your brand name")
            .form__item
                label.form__label(for='email') Email address
                input#email.form__input.disable(type='email' value=`${user.email}` readonly disable)
            .form__item
                label.form__label(for='phone') Phone number
                input#phone.form__input(type='tel' value=user.phone placeholder="Enter a phone number")
            .form__item
                label.form__label(for='country') Country
                input#country.form__input(type='country' value=user.country placeholder="Enter a country")
            .form__item
                label.form__label(for='state') State
                input#state.form__input(type='state' value=user.state placeholder="Enter a state")
            .form__item
                label.form__label(for='city-region') City / Province / Region
                input#city-region.form__input(type='city-region' value=user.region placeholder="Enter a city / region")
            .form__item
                label.form__label(for='zip-postal') Zip code / Postal code
                input#zip-postal.form__input(type='number' name='zip-postal' value=user.zipCode placeholder="Enter a zip code")
            
            .form__item
                button.btn.form-btn(type="submit") Save settings



